html, body {
  font-family: 'Lato', sans-serif;
  color: #424551;
  line-height: 160%;
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;

}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}
.overlay{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.329);
  z-index: 50;
  visibility: hidden;
  opacity: 0;
  transition: all .3s;
  }
  .overlay--show{
    opacity: 1;
    visibility: visible;
  }
.burger{
  display: none;
}
.button {
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 52px;
  padding: 0 40px;
  color: #FFFFFF;
  border-radius: 4px;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  white-space: nowrap;
  transition: .3s;
}

.button:hover {
  transform: scale(1.1);

}

.button--empty {
  border-radius: 7px;
  background-image: none;
  border-left: 2px solid #FF3F3A;
  border-right: 2px solid #F75E05;
  background-image: -webkit-linear-gradient(left, #FF3F3A, #F75E05), -webkit-linear-gradient(left, #FF3F3A, #F75E05);
  background-image: linear-gradient(left, #FF3F3A, #F75E05), linear-gradient(left, #FF3F3A, #F75E05);
  background-size: 100% 2px;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  background-clip: border-box;
}

.button--empty span {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {}

/*********************************************************** */
.header {
  font-weight: 700;
  background: url("../images/decor/shapes-bg.svg") 50% 50% /cover no-repeat, linear-gradient(55.95deg, rgba(255, 63, 58, .2) 0%, rgba(247, 94, 5, .2) 100%);

  display: flex;
  flex-direction: column;
  min-height: 700px;
}

.header_top {}


.header_top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 128px;
}


.header_logo {
  margin-right: 60px;
}

.header_nav {
  margin-right: auto;
}

.header_nav-list {
  display: flex;

}

.header_nav-item {
  margin-right: 40px;
}

.header_nav-item :last-child {
  margin-right: 0;
}

.header_nav-link {
  white-space: nowrap;
  line-height: 1.6;
  color: #424551;
  font-weight: 700;
font-size: 16px;
line-height: 160%;

}

.header_nav-link:hover {
  color: #FF3F3A;
  line-height: 1.6;
  transition: all .3s;
}

.header_btn-box {
  display: flex;
  align-items: center;
}

.header_top-btn {
  margin-right: 36px;
}

.header_user-btn {
  white-space: nowrap;
  line-height: 1.6;
}

.header_user-btn:hover {
  color: #FF3F3A;
  line-height: 1.6;
  transition: all .3s;

}

.button {}

.header_user-nav {
  position: relative;
  padding-left: 28px;
}

.header_user-nav::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  background: url("../images/icons/user-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
}


/* *************************** ********************/

.header_body {
  flex: 1 1 auto;
}

.header_body-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1E212C;
  margin: auto 0;
}

.header-content {
  margin-right: 30px
}

.header_play {
  display: inline-flex;
  align-items: center;
  margin-bottom: 24px;
}

.header_play svg {
  margin-right: 16px;
  border-radius: 50%;
  transition: .3s;
}

.header_play svg:hover {
  box-shadow: 0 0 0 16px rgb(255, 63, 58, 0.12);
}

.header_title {
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 1px;
  max-width: 500px;
  margin-bottom: 60px;
}

.header_content-buttons {
  display: flex;
}

.header_content-btn {
  margin-right: 24px;
}

.header_content-btn:last-child {
  margin-right: 0;
}

.header_img {
  max-width: 600px;
}

.header_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1E212C;
  margin-bottom: 80px;
  margin-top: 189px;
}

.header_row>span {
  width: 8px;
  height: 8px;
  background: #FF3F3A;
  border-radius: 50%;
  margin: 0 15px;
}

.header_row-item {
  display: flex;
  align-items: center;

}

.header_row-item span {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  margin-right: 12px;
}

/* ******************************* */
.main {}

.heading {
  color: #1E212C;
}

.heading__title-center {
  text-align: center;
}

.about {
  padding: 180px 0 160px;
  position: relative;
}

.about__inner {}

.about_createx {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 180px;
  position: relative;
}

.about_createx::before {
  content: "";
  position: absolute;
  top: -86px;
  right: -140px;
  background: url("../images/decor/1.svg");
  width: 100px;
  height: 85px;
}

.about__createx-content {
  max-width: 600px;
  margin-right: 30px;
}

.about__heading {
  margin-bottom: 48px;
}

.heading__subtitle {
  line-height: 150%;
  margin-bottom: 8px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
}

.heading__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
}

.about__text {
  margin-bottom: 60px;
}

.about__paragraph {
  margin-bottom: 24px;

}

.about__paragraph:last-child {
  margin-bottom: 0;
}

.about__paragraph--accent {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;

}

.about__btn-box {
  display: flex;
}

.about__btn {
  margin-right: 24px;
}

.about__btn:last-child {
  margin-right: 0;
}

.about__image {}

.about__values {
  display: flex;
  justify-content: space-between;
}

.about__img-box {
  border-radius: 4px;
}

.about__img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__numbers {
  margin-left: 30px;
  align-self: center;
white-space: nowrap;
}

.about__number {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #1E212C;

}

.about__number:last-child {
  margin-bottom: 0;
}

.about__number span {
  font-weight: 900;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 1px;
  color: #FF3F3A;
  margin-right: 16px;
}

/* ************************** */
.directions {
  padding-bottom: 180px;
}

.directions__inner {
  position: relative;
}

.directions__inner::before {
  content: '';
  position: absolute;
  top: 4px;
  left: -310px;
  width: 136px;
  height: 115px;
  background: url(../images/decor/2.svg);
}

.directions__inner::after {
  content: '';
  position: absolute;
  top: 426px;
  right: -450px;
  width: 243px;
  ;
  height: 243px;
  background: url(../images/decor/3.svg);
  opacity: 0.12;
}

.directions__heading {
  margin-bottom: 90px;

}

.directions__body {}

.directions__filter-box {
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.directions__filter-item {
  margin-right: 45px;
  margin-bottom: 15px;
}

.directions__filter-item:last-child {
  margin-right: 0;
  ;
}

.directions__filter-btn {
  background-color: transparent;
  color: #9A9CA5;
  border: 1px solid #9A9CA5;
  border-radius: 4px;
  font-weight: 700;
  padding: 5px 7px;
  line-height: 1;
  font-style: 16px;
  white-space: nowrap;
}

.directions__filter-btn--active {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border: none;
  color: #FFFFFF;
  padding: 6px 8px;
}

.directions__list {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
  gap: 30px;
}

.directions__list-item {}

.directions__list-item--empty {
  background: #F4F5F7;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #424551;
  border-radius: 4px;

}

.directions__list-item--empty span {
  max-width: 240px;

}

.directions__list-link {
  display: block;
  border-radius: 4px;
  overflow: hidden;
  transition: all 1s;
}

.directions__list-link:hover {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  transition: .3s;
}

.directions__list-link:hover .directions__link-btn {
  color: #FF3F3A;
  transition: .3s;
}

.directions__image-box img {
  height: 100%;
  width: 100%;
}

.directions__link-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  border: 1px solid #E5E8ED;
  border-top: none;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.directions__link-tag {
  font-weight: 700;
  line-height: 1;
  color: #FFFFFF;
  background-color: #787A80;
  padding: 4px 6px;
  border-radius: 4px;
  align-self: flex-start;
  margin-bottom: 20px;
}

.directions__link-text {
  color: #787A80;
  margin-bottom: 20px;
}

.directions__link-btn {
  color: #1E212C;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  transition: 1s;
}

.directions__link-btn::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url(../images/icons/arrow-right-red.svg) 0 0 / 100% no-repeat;
  margin-left: 11px;
}

.direction__list-item--marketing .directions__link-tag {
  background-color: #03CEA4;
}

.direction__list-item--managment .directions__link-tag {
  background-color: #5A87FC;
}

.direction__list-item--hr .directions__link-tag {
  background-color: #F89828;
}

.direction__list-item--design .directions__link-tag {
  background-color: #F52F6E;
}

.direction__list-item--development .directions__link-tag {
  background-color: #7772F1;
}

.main__cert {
  margin-bottom: -46px;
}

.cert__inner {
  display: flex;
  justify-content: space-between;
}

.cert__content {
  max-width: 392px;
}

.cert__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;

  color: #424551;
}

.cert__heading {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin-right: 30px;
}

.cert__logos {
  display: flex;
  margin-top: 32px;
}

.cert__logos-item {
  margin-right: 42px;
}

.cert__logos-item:last-child {
  margin-right: 0;
}

.cert__img-box {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  border-radius: 4px;
  max-width: 600px;
}
.cert__img-box img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/* *******************TEAM SLider*********************************** */
/* ****************************************************** */
.main__team {
  padding: 160px 0px 180px;
}

.team {
  background: url(../images/decor/team-bg.svg) calc(50% + 140px) calc(50% + -120px) no-repeat, #F4F5F6;

}

.team__inner {
}

.team__heading {
  margin-bottom: 60px;
  position: relative;

}

.team__slider {}

.team__slider .slick-list {
  margin: 0 -15px;
}

.team__slide {
  padding: 0 15px;
}

.team__slide:hover .team__socials {
  transform: translateY(0%);

}

.team__inner {}

.team__image-box {
  border-radius: 4px;
  margin-bottom: 16px;
  overflow: hidden;
  position: relative;
}

.team__image {
  position: relative;
  height: 340px;
}

.team__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.team__socials {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50%;
  padding: 20px;
  background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
  ;
  transform: translateY(50%);
  transition: all .3s;
}

.team__socials-item {
  margin-right: 12px;
}

.team__socials-item:last-child {
  margin-right: 0;
}

.team__socials-link {
  display: block;
  line-height: 0;
}

.team__socials-link path {
  transition: all .3s;
}

.team__socials-link:hover path {
  fill: #F4F5F7;
}

.team__info {
  text-align: center;
}

.team__info-name {
  color: #424551;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 5px;
}

.team__info-position {
  color: #787A80;
  font-size: 16px;
}

.team__slider-arrows {
  position: absolute;
  bottom: 0;
  right: 0;
}

.team__slider-arrows{
display: flex;
}
.team__slider-arrow{
border-radius: 50%;
display: block;
line-height: 0;
position: relative;
z-index: 5;
}

.team__slider-arrow path{
  transition:all .3s;
  
}

.team__slider-arrow::before{
  content:'';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0);
  width: 40px;
  height: 40px;
  background-color:#FF3F3A ;
  border-radius: 50%;
  z-index: -1;
  transition:all .3s;
}
.team__slider-arrow:hover::before{
  transform: translate(-50%,-50%) scale(1);
}
.team__slider-arrow:hover path {
  fill: #ffffff;
}
.team__slider-prev {
  margin-right: 24px;
}
.team__slider-next {

}

/********************REVIEWS******************************** */
/*********************REVIEWS********************************  */
.main__reviews {
  background: url(../images/decor/testi-bg.svg) 50% 50%  no-repeat  ;

}
.reviews {
  background-color: #F4F5F6;
}
.reviews__inner {
  display: flex;
  flex-direction: column;
position: relative;
}
.reviews__header {
margin-bottom: 60px;
}

.reviews__slider {
}

.reviews__slider-arrow {

}
.reviews__arrow-prev {
  position: absolute;
  top: 329px;
  left: 0px;
  z-index: 5;
}
.reviews__slide-item {

}
.reviews__slide-inner {
  display: flex;
flex-direction: column;
padding: 64px 85px 64px 163px;
background:#FFFFFF;
max-width: 1020px;
position: relative;
width: 100%;
margin: 0 auto;
position: relative;
margin-bottom: 60px;
border-radius: 4px;
box-shadow: 0px 57px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}

.reviews__slide-decor{
  position: absolute;
  top: 61px;
  left: 108px;
}
.reviews__slide-desc {
  margin-bottom: 24px;
}
.reviews__desc {
  font-weight: 400;
font-size: 20px;
line-height: 150%;
color: #424551;
max-width: 760px;
}
.reviews__slide-author {
  display: flex;
  
}
.author__image-box {
}
.author__image {
  margin-right: 20px; 
}
.author__image img{
  border-radius: 50%;
}
.author__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.author__name {
  font-weight: 700;
font-size: 16px;
line-height: 160%;
color: #1E212C;
margin-bottom: 4px;
}
.author__city {
  font-weight: 400;
font-size: 14px;
line-height: 150%;
color: #787A80;
}

.reviews__slider-arrow {
  transition: all .5s;
}
.reviews__arrow-nxt {
  position: absolute;
  top:329px;
  right:0px;
  z-index: 5;
padding: 9px 12px;
  border-radius: 50%;
  background:transparent;
  transition: all .5s;
}
.reviews__arrow-nxt:hover path{
  fill:#FFFFFF;
scale: 1.1;
}
.reviews__arrow-nxt:hover{
  background: #FF3F3A;
  
}
.reviews__arrow-prev:hover path{
  fill:#FFFFFF;
  scale: 1.1;
}

.reviews__arrow-prev {
  position: absolute;
  top:329px;
  right:0px;
  z-index: 5;
  padding: 9px 12px;
  border-radius: 50%;
  background:transparent;
  transition: all .5s;
  max-width: 50px;
}
.reviews__arrow-prev:hover {
  background: #FF3F3A;
}
.reviews__arrow-nxt:active{
  scale: 0.9;
  transition: .1s;
}
.reviews__arrow-prev:active{
  scale: 0.9;
  transition: .1s;
}
.slick-dots{
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-dots button{
  margin-right: 12px;
  font-size: 0;
  width: 30px;
  height: 5px;
  background: #7e7e7e;
  border-radius: 5px;
  margin-bottom: 185px;
}
.slick-dots .slick-active button{
  background: #000000;
}
/* **************** */
/* **************** */
.main__companies {
  background: #F4F5F6;
  padding-bottom: 130px;
}
.companies {
}
.container {
}
.companies__inner {
  display: flex;
  flex-direction: column;
}
.companies__header {
  margin-bottom: 60px;
}
.companies__logos {
  display: grid;
  grid-template: repeat(2,auto) / repeat(6, 1fr);
  gap: 40px 8.1%;
}

.companies__logo img{
filter: grayscale(1);
transition:all .3s;
}
.companies__logo:hover img{
filter: grayscale(0);
scale: 1.1;

}
/* ******************ACCORDEON********************************** */
/* ******************ACCORDEON******************************* */
.main__program {
  padding:115px 0 185px  ;
}
.container {
}
.program__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.program__content {
  margin-right: 30px;
  max-width: 600px;
}
.program__header {
  margin-bottom: 60px;
}
.program__acc {

}
.program__acc-item {
  margin-bottom: 24px;
  
}
.program__acc-link{
  display: block;
  padding-left: 40px;
}
.program__acc-item:last-child {
  margin-bottom: 0;
}
.program__acc-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color:#1E212C;
  position: relative;
}
.program__acc-head span{
  font-weight: 400;
  color: #FF3F3A;
  margin-right: 8px;
}
.program__acc-head::before,
.program__acc-head::after{
 content: "";
 position: absolute;
 top: 50%;
 left: -40px;
 width: 18px;
 height: 2px;
 background-color: #FF3F3A;
 border-radius:2px ;
}
.program__acc-head::before{

}
.program__acc-head::after{
  transform: rotate(90deg);
  transition: all .3s;
}
.program__acc-link--active .program__acc-head::after{
transform: rotate(0deg);
}
.program__acc-text {
  margin-top: 16px;
}
.program__image {
  flex-shrink: 0;
}
.program__image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* **************POStS********************* */
/* ***************POSTS************************* */
.main__blog {
margin-bottom: 213px;
}
.blog__inner {
  display: flex;
  flex-direction: column;

}
.post__link{
  display: flex;
  flex-direction: column;
}
.blog__heading {
  display: flex;
justify-content: space-between;
margin-bottom: 60px;
}
.blog__header {

}

.blog__heading-btn {
max-width: 159px;
max-height: 52px;
}

.heading__btn-txt {

}
.blog__posts {
  display: flex;

}
.blog__post-item {
max-width: 390px;
max-height: 507px;
transition:all .3s;
border-radius: 5px;
margin-right: 30px;

}
.blog__post-item:last-child{
  margin-right: 0px;
}
.blog__post-item:hover{
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.post__inner {
  display: flex;
  flex-direction: column;
  position: relative;
}
.post__badge {
  display: flex;
  align-items: center;
padding: 1px 8px;
background: #ffffff;
position: absolute;
top: 12px;
left:12px ;
border-radius: 5px;
}
.post__badge svg{
  margin-right: 6px;
}
.post__image-box {
}
.post__content {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}
.post__content-meta {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
}
.meta__bold {
  color: #787A80;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
}
.meta__stick{
  width: 1px;
  height: 12px;
  background-color: #787A80;
  margin: 0px 12px;
}
.meta__txt {
  font-size: 14px;
line-height: 150%;
color: #787A80;
}
.post__content-meta svg{
margin-right: 9px;}

.post__content-desc {
  display: flex;
  flex-direction: column;

}
.content__desc-title {
  font-weight: 700;
font-size: 20px;
line-height: 150%;
color: #1E212C;
margin-bottom: 8px;
}
.content__desc-subtitle {
  font-weight: 400;
font-size: 16px;
line-height: 160%;
margin-bottom: 16px;
color: #424551;

}
.content__desc-btn {
  align-items: center;
  display: flex;
}
.desc__btn-link {
  transition:all .3s;
  font-weight: 700;
font-size: 16px;
line-height: 160%;
color: #1E212C;
}
.desc__btn-link:hover {
color:#FF3F3A ;

}

.desc__btn-link svg{
  margin-left: 11px;
}

/* *************MAP********************** */
/* *************MAP************************ */
.main__map {
  margin-bottom: 180px;
}
.map__inner {
  display: flex;
justify-content: space-between;
}
.map__about {
  display: flex;
  flex-direction: column;
}
.map__heading {
  margin-bottom: 40px;
}
.map__contacts {
display: flex;
flex-direction: column;
}
.map__contact-item {
  display: flex;
margin-bottom: 24px;

}
.map__contact-item:last-child{
  margin-bottom: 48px;
}
.contact__txt {
display: flex;
flex-direction: column;
margin-left: 12px;
}
.contact__txt-up {
  font-weight: 700;
font-size: 14px;
line-height: 150%;
color: #787A80;
}
.contact__txt__down {
  font-weight: 400;
font-size: 18px;
line-height: 150%;
color: #1E212C;
}
.map__socials {
  display: flex;
  flex-direction: column;
}

.socials__title {
  font-weight: 700;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
color: #1E212C;
letter-spacing: 1px;
text-transform: uppercase;
margin-bottom: 24px;
}
.map__social {
  display: flex;
  
}
.map__social li{
  margin-right:32px ;
  
}
.map__social li:last-child{
  margin-right:0;
  
}
.map__social li:hover path{
  fill:#03CEA4 ;
  transition: all .3s;
}
.map__palace {
  width: 702px;
  height: 412px;
  overflow: hidden;
border-radius: 4px;
box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}
.map__palace iframe{
  width: 702px;
  height: 412px;
  overflow: hidden;
border-radius: 4px;
box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}
/* ///////////////////////99999999999999 */
/* 8888888888888888888888888888888 */
.main__questions {
  padding-bottom: 180px;
}
.questions {
}
.questions__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.questions__img {
min-width: 350px;
}
.questions__img img{
  width: 100%;
  height: 100%;
}
.questions__content {
  margin-left: 30px;
}
.questions__heading {
  margin-bottom: 40px;
}
.questions__form {
}
.questions__form-row {
  display: flex;
  margin-bottom: 24px;
}
.questions__form-label {
  margin-right: 25px;
  flex: 1 1 auto;
}
.questions__form-label:last-child {
  margin-right: 0;
}
.questions__text-label{
margin-bottom: 50px;
display: block;
}
.questions__form-input,
.questions__form-text  {
  display: block;
border: 1px solid #D7DADD;
border-radius: 4px;
padding: 13px 16px;
width: 100%;
margin-top: 8px;
}

.questions__form-text{
resize: none;
height: 128px;

}
.questions__form-input::placeholder,
.questions__form-text::placeholder  {
color: #9A9CA5;
}

.questions__checkbox-label{
margin-right: 50px;
display: flex;
width: 100%;
}
.questions__form-checkbox {
  position: relative;
  width: 16px;
  height: 16px;
  flex: 0 0 auto;
  margin-top: 5px;
  margin-right: 12px;
}
.questions__form-default {
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0,0 );
  
}
.questions__form-default:checked+.questions__form-custom {
  background: url("../images/icons/check.svg") 50% 50% no-repeat, #FF3F3A;
  border: 1px solid #FF3F3A;
}
.questions__form-custom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #424551;
  border-radius: 3px;
 cursor: pointer;

}
.questions__form-btn {
  align-self: center;
  width: 100%;
  text-align: center;
}

/* ********************FOoTER************************************* */
/* ********************FOoTER************************************ */
.footer {
  background: #1E212C;;
}
.footer__inner {
  display: flex;
  flex-direction: column;
}
.footer__content {
  display: flex;
  margin-top: 80px;

  
}

.column__logo{

}
.f__column {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}
.f__columns-socials{
display: flex;
margin-top: 38px;
margin-bottom: 62px;
;
}
.f__columns-socials path{
  fill: #787A80;
  transition: all .3s 
}
.f__columns-socials li{
  margin-right: 20px;
}
.f__columns-socials li:hover path{
  fill: #FFFFFF;
}
.f__columns-socials li:last-child{
  margin-right:0;
}
.f__column-txt {
font-weight: 400;
font-size: 12px;
line-height: 150%;
margin-top: 24px;
color: #FFFFFF;
opacity: 0.6;
}
.s__column {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  width: 100%;
}
.s__column li{
  margin-bottom: 8px;
  font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #FFFFFF;
opacity: 0.5;
transition: all .3s;
}
.s__column li:hover{
  color: #FFFFFF;
  opacity: 1 ;
}
.column__title {
  font-weight: 700;
font-size: 16px;
line-height: 150%;
letter-spacing: 1px;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 12px;
}
.col__tel{
display: flex;
align-items: center;
}
.col__tel img{
  margin-top: 5px;
  margin-right: 8px;
}
.col__mail img{
  margin-top: 5px;
  margin-right: 7px;
}
.col__mail{
display: flex;
align-items: center;
width: 165px;
}
.th__column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer__mail {
  display: flex;
  margin-top: 12px;
  margin-bottom: 12px;

}


.footer__mail input{
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  width: 286px;
  height: 36px;
  color: #FFFFFF;
  padding-left: 5px;
}
.footer__mail-input{
  position: relative;
}
.th__column-txtd {
  font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 150%;
color: #FFFFFF;
}
.mail__btn{
  position: absolute;
  background: rgba(255, 255, 255, 0.01);
right: 8px;
top: 8px;
}
.footer__dwn {
  background: rgba(255, 255, 255, 0.05);
}
.dwn__inner{
display: flex;
justify-content: space-between;
padding-bottom: 20px;
padding-top: 20px;
}
.dwn__copy{
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;

  color: #FFFFFF;

}
.dwn__btn {
  align-self: flex-end;
  font-weight: 700;
font-size: 14px;
line-height: 150%;
color: #FFFFFF;
opacity: 0.6;
transition: all .3s;
}
.dwn__btn:hover{
  opacity: 0.9;
}


/* ************************MEDIA********************************* */
/* *************************MEDIA******************************* */
@media(max-width:1200px){
.header_title{
  font-weight: 900;
  font-size: 52px;
  max-width: 380px;
}
.header_img{
max-width: 450px;
}
.footer__acc--active{
  display: block;
}
}
/* *************************1100PX****************************** */
@media(max-width: 1100px){
.burger{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 150;
  height: 60px;
  width: 60px;
  border-radius:50% ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .3s;
}
.burger--follow{
  box-shadow:0 1px 8px 0 #818181;
  background-color: #FFFFFF;
  top: 15px;
  right: 30px;
}
.burger span{
  display: block;
  height: 4px;
  width: 30px;
  background-color:rgb(66, 69, 81) ;
  border-radius: 3px;
  margin: 4px 0;
}

.burger::before,
.burger::after{
  content: "";
  display: block;
  height: 4px;
  width: 30px;
  background-color:rgb(66, 69, 81) ;
  border-radius: 3px;
}
.header{
  padding-top: 92px;
}
.header_top{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 100;
  min-width: 320px;
  transform: translateX(100%);
  transition: all .3s;
}
.header__top--open{
  transform: translateX(0%);
}
.header_top-inner{
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 100px 0;
}
.header_logo{
  margin: 0 0 30px 0;
}
.header_nav{
  text-align: center;
  margin: 0 auto;
  flex-grow: 1;
}
.header_nav-list{
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.header_nav-item{
  margin: 0;
}
.header_nav-link{
  display: block;
  padding: 10px;
}
.header_btn-box{
  flex-direction: column-reverse;
}
.header_top-btn{
  margin: 0;
}
.header_user-nav{
  margin-bottom: 30px;
}
/* ************** */
.heading__title{
  font-size: 37px;
}
.about__image{
  max-width: 400px;
}
/* ***************************************** */

.cert__inner{
  flex-direction: column;
  align-items: center;
}
.cert__content{
  margin-bottom: 30px;
}
.cert__heading{
  text-align: center;
}
.cert__descr{
  text-align: center;
}
.reviews__slide-inner{
  margin-bottom: 40px;
  box-shadow: none;
}
/* ************************** */
.companies__logos {
  gap: 40px 2%;
}
/* ********************************************* */
.program__image {
  max-width: 400px;
  
}
/* *************************** */
.blog__posts{
  flex-direction: column;


}
.post__inner {
align-items: center;
}
.blog__post-item{
  max-width: none;
  max-height: none;

}
.post__image-box{
padding: 0 335px;
background:#a3d0f7

}

.blog__post-item{
  margin-right: 0;
  margin-bottom: 35px;
  width: 100%;
}

.post__badge{
  left: 2px;
}
}
/* **************1000px**************************************************** */
@media(max-width:1000px){
  .program__image {
display: none;
    
  }
  /* *************************** */
  .footer__content{
    flex-direction: column;
  }
  .f__columns-socials{
    margin: 25px 0 20px 0;
  }
  .s__column{
    margin: 0 0 10px 0;
  }
  .footer__mail{
    margin-bottom: 8px;
  }
  .th__column-txtd{
    margin-bottom: 15px;
  }
.column__title{
  margin-bottom: 5px;
}

.footer__acc-columns1 ,
.footer__acc-columns2 ,
.footer__acc-columns3{
display: none;
} 

}
/* ************************900PX***************************************** */
@media(max-width:900px){
  .header-content{
    margin: 0;
  }
  .header{
    height: 100vh;
  }
  .header_img{
    display: none;
  }
  .header_row{
    display: none;
  }
  /* ************ */
  .about__image{
  display: none;
  }
  /* ***************************** */

  .directions__filter-item{
    margin-right: 10px;
    
  }
  .directions__list{
    gap: 30px 10px   ;
  }
  .directions__link-content{
    padding: 24px 5px 5px 5px;
  }
  /* ************** */
  .companies__logos{
    grid-template:repeat(3,auto) / repeat(4,1fr);

  }
  .post__image-box{
    padding: 0 250px;
    background:#a3d0f7
    
    }
    /* ****************** */
    .map__inner{
      flex-direction: column;
  
    }
    .map__about{
    margin-bottom: 35px; 
    }

    .map__palace{
  height: 250px;
  width: 100%;
    }
    .map__palace iframe{
  height: 250px;
  width: 100%;
    }
/* *********************** */
.questions__img{
  display: none;
}

  }
  /***********************700PX***************************************  */
  @media(max-width:700px){
.about__values{
  flex-direction: column;
  
}
.about__img-box{
  display: none;
}
.about__numbers{
  margin: 0;
}
/* ************************** */
.directions__list{
  grid-template: repeat(3, auto) / repeat(2, 1fr);
}
/* *************************** */
.reviews__slider-arrow{
  display: none;
}
.reviews__slide-inner{
  padding: 30px 30px 30px 60px;
  position: relative;
  margin-bottom: 30px;
  }
  .reviews__slide-decor{
    position: absolute;
    top: 34px;
    left: 14px;
  }
  .slick-dots button{
    width: 25px;
    height: 4px;
  }
}
  /* ***********************550px***************************** */
  @media(max-width:550px){
    .heading{
      margin-bottom: 30px;
    }
    .heading__subtitle{
      font-size: 14px;
      margin: 0;
    }
    .heading__title{
      font-size: 28px;
    }
    .about__text{
      margin-bottom: 30px;
    }
    .about__paragraph{
      font-size: inherit;
    }
.about__btn-box{
  flex-direction: column;
}
.about__btn{
  margin: 0 0 10px 0;
  text-align: center;
}
/* ***************************** */
.directions__list{
  grid-template: none;
}
.directions__list-item--empty{
}
/* ********************* */
.reviews__slide-inner{
  margin-bottom: 18px;
  padding:25px 25px 25px 30px;
}
.reviews__desc{
  font-size:inherit ;
  line-height: inherit; 
}
.reviews__slide-desc{
  margin-bottom: 8px;
}
.reviews__slide-decor{
  position: absolute;
  top: 26px;
  left: 3px;
}
.reviews__slide-decor img{
width: 15px;
height: 10px;
}
.slick-dots button{
  width: 18px;
  height: 3px;

}
/* ************************* */
.companies__logos{
  grid-template:repeat(4,auto) / repeat(3,1fr);
align-self: center;
}
/* *********************************** */
.program__acc-head{
  font-size:inherit ;
  line-height:inherit ;
}
/* ******************** */
.questions__form-row{
  flex-direction: column;
  margin-bottom: 15px;
}
.questions__form-label{
  margin: 0 0 10px 0;
  font-size: 14px;
}
.questions__checkbox-label{
  margin-bottom: 20px;
}
.questions__text-label{
  margin-bottom: 25px;
}
.questions__content{
  margin-left: 10px;
}
  }
  /* *********************450PX*************************************** */
  @media(max-width:450px){
    .header_top{
      max-width: none;
      left: 0;
    }
    .header_content-buttons{
      flex-direction: column;
    }
    .header_content-btn{
      margin: 0 0 12px 0;
      text-align: center;
    }
    .header_title{
      font-weight: 900;
      font-size: 40px;
      max-width: 310px;
    }
    /* ******************* */
    .directions__filter-box{
      margin-bottom: 15px;
    }
    /* ********************* */
    .cert__logos{
      flex-direction: column;
      align-items: center;

    }
    .cert__logos-item{
    margin: 0 0 30px 0; 
    }
    .cert__logos-item{
    margin: 0; 
    }
  }
/* ***************MEDIA 400px********************************** */
@media(max-width:400px){
  .header_top{
    min-width: none;
    width: 100%;
  }
  .header_title{
    font-weight: 900;
    font-size: 35px;
    max-width: 260px;
  }
  .companies__logos{
    grid-template: repeat(4,auto) / repeat(2,1fr);
    align-self: center;
  }
}