header {
  color: #FFF;
  font-family: "Golos Text", sans-serif;
}

.about__rightside-descr--item2 p, .about__rightside-descr--item1---rs p, .about__rightside-descr--item1---rs span {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  line-height: 114%;
  letter-spacing: -0.32px;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1124px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.border {
  width: 1px;
  height: 745px;
  background: rgba(37, 37, 44, 0.07);
  position: absolute;
  top: 0;
  left: 0;
}

.border2 {
  width: 1px;
  height: 745px;
  background: rgba(37, 37, 44, 0.07);
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  background: url("..//images/ekran1/background1.png") 50% 50%/cover no-repeat;
  max-height: 800px;
}
.header__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 42px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__top-logo {
  font-weight: 700;
  font-size: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 52px;
  line-height: 130%;
}
.header__top-menu {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 130%;
}
.header__top-menu--item {
  margin-right: 18px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header__top-menu--item:hover {
  -webkit-transform: scale(1.08);
      -ms-transform: scale(1.08);
          transform: scale(1.08);
}
.header__top-menu--item:last-child {
  margin-right: 52px;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 470px;
  padding: 159px 0 206px 0;
}
.header__content span {
  text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 4px 9px 0px rgba(0, 0, 0, 0.1), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0);
  font-size: 14px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.84px;
}
.header__content h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 113%;
}
.header__content p {
  text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 4px 9px 0px rgba(0, 0, 0, 0.1), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0);
  font-size: 20px;
  line-height: 113%;
  margin-top: 12px;
}
.header__body {
  position: relative;
}
.header__body-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 46px;
  max-width: 254px;
  height: 64px;
  padding: 24px 41px;
  border-radius: 55px;
  background: #25252C;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 4px 9px 0px rgba(0, 0, 0, 0.1), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 4px 9px 0px rgba(0, 0, 0, 0.1), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0);
}
.header__body-button span {
  font-size: 14px;
  font-weight: 500;
  line-height: 113%;
  margin-left: 10px;
}
.header__body-button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.header__img-box {
  position: absolute;
  right: 138px;
  bottom: 19px;
}

.about {
  background: -webkit-gradient(linear, left bottom, left top, from(#1E262F), to(#1E262F)), #181C1D;
  background: -o-linear-gradient(bottom, #1E262F 0%, #1E262F 100%), #181C1D;
  background: linear-gradient(0deg, #1E262F 0%, #1E262F 100%), #181C1D;
  max-height: 800px;
  overflow: hidden;
}
.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.about__leftside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFF;
  font-family: "Inter", sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 800px;
  width: 350px;
}
.about__watermark {
  color: rgba(255, 255, 255, 0.1);
  text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 4px 9px 0px rgba(0, 0, 0, 0.1), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0);
  font-size: 14px;
  font-family: "Golos Text";
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.84px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  top: 326px;
  left: -100px;
}
.about__borders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.about__borders span {
  width: 3px;
  height: 176px;
  background: rgba(255, 255, 255, 0.1);
}
.about__borders p {
  width: 1px;
  height: 624px;
  background: rgba(255, 255, 255, 0.1);
}
.about__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 122px 0 67px;
  white-space: nowrap;
}
.about__buttons-item {
  color: #FFF;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  line-height: 113%;
  letter-spacing: -0.48px;
  opacity: 0.25;
  margin-bottom: 16px;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}
.about__buttons-item--active {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.64px;
  opacity: 1;
}
.about__buttons-item--inactive {
  font-size: 18px;
  font-weight: 300;
  line-height: 113%;
  letter-spacing: -0.36px;
}
.about__rightside-descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.about__rightside-descr--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 174px;
  margin-left: 193px;
  position: relative;
  margin-right: 33px;
  margin-bottom: 250px;
  max-width: 748px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.about__rightside-descr--item h2 {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.8), 0px 4px 9px 0px rgba(0, 0, 0, 0.1), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0);
  font-size: 56px;
  font-family: "Oranienbaum", sans-serif;
  line-height: 113%;
  position: absolute;
  max-width: 335px;
  top: 71px;
  left: -153px;
}
.about__rightside-descr--item1---rs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about__rightside-descr--imgbox {
  position: relative;
  margin-bottom: 44px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.about__rightside-descr--item1---rs span {
  color: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 4px 9px 0px rgba(0, 0, 0, 0.1), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 4px 9px 0px rgba(0, 0, 0, 0.1), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0);
  margin-bottom: 16px;
  max-width: 453px;
}
.about__rightside-descr--item1---rs p {
  color: rgba(255, 255, 255, 0.6);
  max-width: 453px;
  text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 4px 9px 0px rgba(0, 0, 0, 0.1), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0);
}
.about__rightside-descr-play {
  position: absolute;
  top: 79px;
  left: 136px;
}
.about__descr-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-family: "Inter";
  font-weight: 300;
  line-height: 113%;
}
.about__rightside-descr--item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 172px 120px 250px 85px;
  max-width: 748px;
}
.about__rightside-descr--item2 h1 {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 4px 9px 0px rgba(0, 0, 0, 0.1), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0);
  font-size: 56px;
  font-family: "Oranienbaum";
  line-height: 113%;
}
.about__rightside-descr--item2 p {
  color: rgba(255, 255, 255, 0.6);
}
.about__rightside-descr--rukphoto {
  margin-right: 5px;
}
.about__rightside-descr--item---3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-family: "Inter";
  font-weight: 300;
  line-height: 113%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 174px;
  margin-left: 51px;
  max-width: 748px;
}
.about__rightside-descr--item---3 li {
  margin-bottom: 5px;
  max-width: 650px;
}
.about__rightside-descr--item---3 img {
  margin-bottom: 24px;
  max-width: 391px;
  max-height: 204px;
  margin-left: -20px;
}
.about__borders-right {
  margin-right: 172px;
}
.about__rightside-descr--item---active1 {
  -webkit-transform: translateY(-850px);
      -ms-transform: translateY(-850px);
          transform: translateY(-850px);
}
.about__rightside-descr--item---active2 {
  -webkit-transform: translateY(-1650px);
      -ms-transform: translateY(-1650px);
          transform: translateY(-1650px);
}

.about__rightside-descr ul li {
  list-style: disc;
}

.project {
  font-family: "Golos Text";
  color: #1F252D;
}
.project__slide {
  width: 100%;
  height: 100%;
}
.project__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.project__smeta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25px;
  padding: 187px 0 196px 0;
}
.project__smeta h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 98.5%;
  margin-bottom: 12px;
}
.project__smeta p {
  text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 4px 9px 0px rgba(0, 0, 0, 0.1), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0);
  font-size: 16px;
  line-height: 113%;
}
.project__smeta--txtbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.project__doma {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1F252D;
  padding: 107px 19px 102px 24px;
  margin: 13px 141px 18px 0;
}
.project__doma-txtbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: -110px;
}
.project__doma-txtbox h1 {
  color: #FFF;
  font-size: 32px;
  font-weight: 600;
  line-height: 98.5%;
  margin-bottom: 12px;
  max-width: 194px;
}
.project__doma-txtbox p {
  color: #FFF;
  text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 4px 9px 0px rgba(0, 0, 0, 0.1), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0);
  font-size: 16px;
  line-height: 113%;
  max-width: 391px;
}
.project__graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 174px 399px 104px 190px;
}
.project__graph-txtbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: last baseline;
      align-self: last baseline;
}
.project__graph-txtbox h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 98.5%;
}
.project__graph-txtbox p {
  color: #1F252D;
  text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 4px 9px 0px rgba(0, 0, 0, 0.1), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0);
  font-size: 16px;
  line-height: 113%;
}
.project__otchet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 174px 260px 104px 67px;
}
.project__otchet-txtbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: last baseline;
      align-self: last baseline;
  max-width: 442px;
  margin-right: 132px;
}
.project__otchet-txtbox h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 98.5%;
  max-width: 241px;
  margin-bottom: 12px;
}
.project__otchet-txtbox p {
  color: #1F252D;
  text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 4px 9px 0px rgba(0, 0, 0, 0.1), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0);
  font-size: 16px;
  line-height: 113%;
}/*# sourceMappingURL=style.css.map */