html, body {
  font-family: 'Manrope', sans-serif;

}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1301px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.button {
  display: inline-block;
  font-weight: 600;
  line-height: 32px;
  padding: 16px 40px;
  font-size: 18px;
  color: #FFFFFF;
  background: #FF6433;
  border-radius: 12px;
  white-space: nowrap;
  transition: .3s;
}



/* ******************************************* */
.header {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.header_top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0 16px;
}


.header_nav {
  margin-left: auto;
}

.header_nav-list {
  display: flex;
}

.header_nav-item {
  margin-right: 40px;
  font-weight: 600;
}

.header_nav-item:hover {
  color: rgb(160, 6, 6);
  transition: all .3s;
}

.header_nav-item:last-child {
  border-right: 1px solid #939191;
  ;
  margin-right: 32px;
}

.header_nav-link {
  white-space: nowrap;
  line-height: 28px;
  font-family: 'Manrope', sans-serif;
}

.header_nav-btn {
  margin-right: 14px;
  border-radius: 50%;
}

.header_nav-btn:hover {
  transition: .3s;
  transform: scale(1.1);
}

.header_btn_box {
  display: inline-block;
}

.header_user_text1 {
  font-family: 'Manrope', sans-serif;
  color: Black;
  opacity: 0.7;
  font-size: 17px;
  line-height: 24px;
}

.header_user_text2 {
  color: #1E1B1B;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  line-height: 31px;
}

/* ***************************************** */
.header_body {
  margin: 80px 0 135px;
  width: 100%
}

.header_body-inner {
  display: flex;
  flex-direction: column;
  height: 100%;

}

.header_body-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 0;
}

.header_content {
  margin-right: 40px;
}

.header_title {
  font-family: 'Manrope';
  font-weight: 800;
  font-size: 64px;
  line-height: 84px;
  letter-spacing: -0.03em;
  margin-bottom: 32px;

}

.header_content-buttons {
  display: flex;
}

.header_button1 {
  margin-right: 33px;
  color: #FFFFFF;
}

.header_button1:hover {
  scale: 1.1;
}

.header_button1:active {
  scale: 0.9;
  transition: .1s;
}

.header_button2 {
  display: inline-flex;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: right;
  color: #1E1B1B;
}

.header_button2 svg {
  margin-right: 15px;
  border-radius: 50%;
  transition: .3s;
}

.header_button2 svg:hover {
  box-shadow: 0 0 0 8px #a1a1a15a;
  transition: .3s;
  scale: 1.3;

}

.header_button2 svg:active {
  scale: 1.1;
  transition: .1s;
}

.header_main-low {
  display: flex;
  flex-direction: row;
  margin-top: 48px;
}

.header_body-lowground {
  display: flex;
  flex-direction: column;
}

.header_body-lowground-image {
  margin-right: 13px;
  position: relative;
  top: 12px;

}

.header_body-text1 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #939191;
}

.header_body-text2 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;

  color: #1E1B1B;
}

.header_body-rightside {
  position: relative;
}

.header_body-rightside-time {
  background-color: #FFFFFF;
  border-radius: 59px;
  max-height: 102px;
  box-shadow: 0 0 0px 13px #dddbdb5a;
  display: flex;
  align-items: center;
  padding: 14px;
  position: absolute;
  top: 81px;
  left: -30px;
}

.header__body-rightside-hours {
  background-color: #5CBA99;
  color: #FFFFFF;
  border-radius: 50%;
  padding: 17px 12px;
  margin-right: 15px;
}

.header_service-number {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
}

.header_service-desc {
  line-height: 28px;
}

.header__service-text {
  margin-right: 30px;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
}

.header__body-rating {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 59px;
  box-shadow: 0 0 0px 13px #dddbdb5a;
  max-height: 102px;
  padding: 24px 0;
  position: absolute;
  bottom: 70px;
  right: -20px;

}

.header__rating-texts {
  margin: 0 15px 0 38px;
}

.header__rating-num {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #000000;
}

.header__rating-txt {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  opacity: 0.7;
}

.header__stars {
  width: 0;
  margin-right: 32px;
  z-index: 1;
  overflow: hidden;
  white-space: nowrap;


}

.header__greystar {
  position: absolute;
  z-index: 0;
  right: 31.1px;
  bottom: 36px;
  white-space: nowrap;

}


/* main start */

.main__offer {
    padding: 128px 0;
}
#offer{
background-color: #F2F2F2;

    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
}
.offer__inner {
  display: flex;  
flex-direction: column;
align-items: center;
}
.offer__heading {
  text-align: center;
}
.offer__heading-txt1 {
  font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
text-align: center;
letter-spacing: -0.03em;
color: #1E1B1B;
}
.offer__heading-txt2 {
  font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 58px;
line-height: 76px;
/* or 131% */

text-align: center;
letter-spacing: -0.03em;

/* Black */
max-width: 852px;
color: #1E1B1B;
}
.offer__services {
  display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
    width: 100%;
    justify-items: stretch;
    align-items: center;
    margin-top: 62px;
}

.offer__items {
  background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 7.96px;
    height: 232px;
    margin-bottom: 8px;
    
}
.offer__items:hover{
  background-color:#FF6433;
  color: #F2F2F2;
  
}
.offer__icons svg {
fill: #000000;

}
.offer__items:hover svg {
  fill: #ffffff;
  }
.offer__desc {
  font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
text-align: center;
letter-spacing: -0.03em;
transition: .3s;

}
.offer__learn-about {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  padding: 5px 15px;
  border-radius: 10px;
  transition: .3s;
  margin-top: 24px;
}
.offer__learn-about:hover {
  background-color: #FF6433;
  color: #FFFFFF;
}
.offer__learn-about:hover svg{
  fill: #FFFFFF;
}
.offer__learn-about-text {
  font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 18px;

margin-right: 6px;
}
.offer__arrow svg {
fill: #000000;
}
.offer__items-item4, .offer__items-item8{
  margin-right: 0px;
}

.main__process {
  padding: 134px 0; 
}
.proccess__inner{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.process__left {
  max-width: 524px;
  margin-right: 131px;
}
.proccess__left-text1 {
  font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 58px;
line-height: 76px;
letter-spacing: -0.03em;

}
.process__left-text2 {
  font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 28px;
color: #1E1B1B;
opacity: 0.6;
margin-top:16px ;
}
.main__left-button {
  margin-top: 32px;
}
.main__left-button:hover {
  scale: 1.1;
}
.process__right {
  display: flex;
  flex-direction: row;
  max-width: 432px;
}
.process__right-imgside {
  display: flex;
  flex-direction: column;

}

.process__right-circle{
padding: 24px 18px; 
  background-color:#661CE7;
  border-radius: 50%;
  margin-top: 22px;
}
.right__circle-item-1{
  margin-top:0px;
}
.circle__txt{
  font-family: 'Manrope';
font-weight: 700;
font-size: 32px;
line-height: 24px;
/* identical to box height, or 75% */
color: #FFFFFF;
}
.circle__down{
  position:relative; 
  bottom:22px;
  right:-16px;
}
.circle__razd{
  position: relative;
  right:-35px;
}
.process__right-txtside {
  display: flex;
  flex-direction: column;
}
.right__txtside-up{
font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 48px;
/* identical to box height, or 150% */
padding: 8px 16px;
letter-spacing: -0.03em;

/* Black */

color: #1E1B1B;}
.right__txtside-down{
  font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 175%;
/* or 32px */
padding-left: 24px;

/* Black */

color: #1E1B1B;

opacity: 0.6;
}

.right__txtside2{
  margin-top: 29px;
}
.right__txtside3{
  margin-top: 29px;
}
.main__cta {
  width:100%;
  margin: 0 auto;
}
.cta__inner {
  
  display: flex;
flex-direction: column;
}
.cta__orangeblock {
  
  display: flex;
  flex-direction: column;
background: #FF6433;
padding: 144px 69px;
max-width: 729px;
max-height: 502px;
position: relative;
z-index: 1;
margin-left:318px ;
}
.orangeblock__txt {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  margin-bottom: 48px;

}
.orangeblock__btn {
  display:flex;
  justify-content: center;
  align-items: center;
  color:#FFFFFF ;
padding: 31px 16px;
background-color:#1E1B1B ;
max-width: 160px;
max-height: 18px;
font-weight: 600;
font-size: 18px;
line-height: 175%;
border-radius: 12px;
transition: all .3s;

}
.orangeblock__btn:hover{
  scale: 1.1;
}
.orangeblock__img1{
  position: absolute;
  left: 0px;
  z-index: 0;
  height: 100%;
  width: 100%;
  max-width: 976px;
  max-height: 502px;
}
.orangeblock__img2{
position: absolute;
left: 974px;
max-width: 944px;
max-height: 502px;
height: 100%;
width: 100%;
}
.cta__lowgr {
  margin: 48px 291px 48px 348px  ;
}
.lowgr__items {
  display: flex;

}
.lowgr__item {
  margin-right: 186px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}
.lowgr__item:last-child{
  margin-right: 0;
}
.lowgr__item-up {
  font-weight: 800;
font-size: 58px;
line-height: 76px;
text-align: center;
letter-spacing: -0.03em;
color: #661CE7;
}
.lowgr__item-down {
  font-weight: 600;
font-size: 24px;
line-height: 36px;

letter-spacing: -0.03em;
color: #1E1B1B;
opacity: 0.7;
}
.cta__brands {
  background-color: #E2E6E9;
  
}

.brands__inner {
  justify-content: center;
  display: flex;
flex-direction: column;
margin-top: 130px;
margin-bottom: 81px;
}
.brands__title {
  font-weight: 800;
font-size: 58px;
line-height: 76px;
margin-bottom: 31px;
/* identical to box height, or 131% */
text-align: center;
letter-spacing: -0.03em;
color: #1E1B1B;
}
.brands__items {
  display: flex;
  flex-direction: row;
}
.brands__items1 {
  display: flex;
  flex-direction: row;
  margin-top: 38px;
}
.brands__item {
  margin-right: 38px;
}
.brands__item svg{
  fill: #1E1B1B;
  transition:all  .3s;
}
.brands__item-5{
  margin-right: 0;
}
.brands__item-1:hover svg{
  fill: #661CE7;
  scale: 1.1;

}
.brands__item-2:hover svg{
  fill: #5CBA99;
  scale: 1.1;

}
.brands__item-3:hover svg{
fill: #FF6433;
scale: 1.1;

}
.brands__item-4:hover svg{
fill: #630531;
scale: 1.1;
}
.brands__item-5:hover svg{
fill: #a7c53b;
scale: 1.1;
}

/* blog start */

.main__blog {
  margin: 131px 0px;
}
.blog__inner {
display: flex;
flex-direction: column;
}
.blog__title {
  font-weight: 800;
font-size: 58px;
line-height: 76px;
/* identical to box height, or 131% */
letter-spacing: -0.03em;
color: #1E1B1B;
margin-bottom: 46px;
}
.blog__btns {
  margin-bottom: 46px;
}
.blog__btns-items {
  display: flex;
}
.blog__btn-item {
margin-right:30px ;
}
.blog__btn-item button{
font-weight: 700;
font-size: 32px;
line-height: 48px;
letter-spacing: -0.03em;
color: #1E1B1B;}

.blog__btn-item--active button{
  color: #FF6433;
}
.blog__block {
  
}

.blog__items {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
  gap: 64px 32px;
}
.blog__item {
  display: flex;
  flex-direction: column;
  transition: 1s;
}
.blog__item:hover{
  transition: all .3s;
  box-shadow: 3px 3px 5px 0px #1e1b1b51;
}
.blog__img-box{
  max-width: 456px;
  max-height: 266px;
  margin-bottom: 24px;
}
.blog__item-popular {
}
.blog__items-date {
  font-weight: 600;
font-size: 16px;
line-height: 28px;

color: #939191;
margin-bottom: 16px;
}
.blog__items-title {
  font-weight: 700;
font-size: 32px;
line-height: 48px;

letter-spacing: -0.03em;
color: #1E1B1B;
margin-bottom: 16px;
}
.blog__items-description {
  font-weight: 600;
font-size: 16px;
line-height: 28px;
color: #232536;
}
.blog__item-favorites {
}
.blog__item-latest {
}
/* ***********COMMENTS********************** */
/* ***********COMMENTS************************* */

.main__comments {
background: #F2F2F2;
  padding:  130px 0;
}
.comments__inner {display: flex;flex-direction: column;}

.comments__title {
  display: block;
  font-weight: 800;
font-size: 58px;
line-height: 76px;
text-align: center;
letter-spacing: -0.03em;
color: #1E1B1B;
max-width: 909px;
margin-bottom: 76px;
text-align: center;
align-self: center;

}
.comments__slider {

}
.comments__slider .slick-list {
  margin: 0 -48px;
  margin-bottom: 33px;
}
.comments__slide {
  padding: 0 48px;
  position: relative;
}
.comments__slide-inner {
  border-radius: 6px;
  padding: 61px;
  background-color: #ffffff;
  position: relative;
  }

.comments__author {
  display: flex;
  margin-bottom:  25px;
  align-items: center;

}
.comments__image-box {
  margin-right: 16px;
  border-radius: 50%;
  overflow: hidden;
}
.comments__image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.comments__about {
  display: flex;
  flex-direction: column;
}
.comments__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #1E1B1B;
}
.comments__city {
  font-weight: 600;
font-size: 16px;
line-height: 175%;
color: #939191;

}
.comments__desc {
  max-width: 492px;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #1E1B1B;

}
.comments__socials {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 95px 30px 100px 45px;
  position: absolute;
  top: 0;
  right: 0 ;
  transform: translatey(-100%);
  background-image: linear-gradient(to left, rgba(187, 187, 187, 0.489), rgba(0, 0, 0, 0));
  border-radius: 6px;
  height: 100%;
  transition: all .3s;
}
.comments__slide:hover .comments__socials{
  transform: translateY(0%);
}
.comments__socials-item {
  margin-bottom: 20px;
}
.comments__social-link path {
  fill: #939191;
  transition: all .3s;
}
.comments__social-link:hover path{
  fill:#3d3d3d ;
}
.comments__circle{
  background-color: #FFFFFF;
  border-radius: 50%;
  padding: 15px 13px;
  transition: .3s;
}
.comments__circle:hover{
  background-color: #000000;
  scale: 1.2;
}
.comments__circle:active{
  background-color: #000000;
  scale: 1;
  transition: .1s;
}
.comments__circle:hover path{
  fill: #FFFFFF;
}
.comments__slider-arrows {
  display: flex;
  justify-content: flex-end;
  margin-top: -35px;
  z-index: 10;
}
.comments__slider-arrow {
  transition: .3s;
}
.slider__arrow-nxt {
  
}
.slider__arrow-prev {
  margin-right: 38px;
}



.comments__slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.comments__slider .slick-dots li {
  margin-right: 15px;
  z-index: 15;
}
.comments__slider button {
  font-size: 0;
  background-color: transparent;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
}

.comments__slider button::before {
  content: "";
  height: 4px;
  width: 100%;
  background-color: #939191;
}

.comments__slider .slick-active button::before {
  background-color: #FF6433;
  transition: all .3s;
}
