html, body {
  font-family: 'Manrope', sans-serif;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.button {
  display: inline-block;
  font-weight: 600;
  line-height: 32px;
  padding: 16px 40px;
  font-size: 18px;
  color: #FFFFFF;
  background: #FF6433;
  border-radius: 12px;
  white-space: nowrap;
  transition: .3s;
}

.logo {}

/* ******************************************* */
.header {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.header_top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0 16px;
}

.header_top-logo {}

.header_nav {
  margin-left: auto;
}

.header_nav-list {
  display: flex;
}

.header_nav-item {
  margin-right: 40px;
  font-weight: 600;
}

.header_nav-item:hover {
  color: rgb(160, 6, 6);
  transition: all .3s;
}

.header_nav-item:last-child {
  border-right: 1px solid #939191;
  ;
  margin-right: 32px;
}

.header_nav-link {
  white-space: nowrap;
  line-height: 28px;
  font-family: 'Manrope', sans-serif;
}

.header_nav-btn {
  margin-right: 14px;
  border-radius: 50%;
}

.header_nav-btn:hover {
  transition: .3s;
  transform: scale(1.1);
}

.header_btn_box {
  display: inline-block;
}

.header_user_text1 {
  font-family: 'Manrope', sans-serif;
  color: Black;
  opacity: 0.7;
  font-size: 17px;
  line-height: 24px;
}

.header_user_text2 {
  color: #1E1B1B;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  line-height: 31px;
}

/* ***************************************** */
.header_body {
  margin: 80px 0 135px;
  width: 100%
}

.header_body-inner {
  display: flex;
  flex-direction: column;
  height: 100%;

}

.header_body-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 0;
}

.header_content {
  margin-right: 40px;
}

.header_title {
  font-family: 'Manrope';
  font-weight: 800;
  font-size: 64px;
  line-height: 84px;
  letter-spacing: -0.03em;
  margin-bottom: 32px;

}

.header_content-buttons {
  display: flex;
}

.header_button1 {
  margin-right: 33px;
  color: #FFFFFF;
}

.header_button1:hover {
  scale: 1.1;
}

.header_button1:active {
  scale: 0.9;
  transition: .1s;
}

.header_button2 {
  display: inline-flex;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: right;
  color: #1E1B1B;
}

.header_button2 svg {
  margin-right: 15px;
  border-radius: 50%;
  transition: .3s;
}

.header_button2 svg:hover {
  box-shadow: 0 0 0 8px #a1a1a15a;
  transition: .3s;
  scale: 1.3;

}

.header_button2 svg:active {
  scale: 1.1;
  transition: .1s;
}

.header_main-low {
  display: flex;
  flex-direction: row;
  margin-top: 48px;
}

.header_body-lowground {
  display: flex;
  flex-direction: column;
}

.header_body-lowground-image {
  margin-right: 13px;
  position: relative;
  top: 12px;

}

.header_body-text1 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #939191;
}

.header_body-text2 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;

  color: #1E1B1B;
}

.header_body-rightside {
  position: relative;
}

.header_body-rightside-time {
  background-color: #FFFFFF;
  border-radius: 59px;
  max-height: 102px;
  box-shadow: 0 0 0px 13px #dddbdb5a;
  display: flex;
  align-items: center;
  padding: 14px;
  position: absolute;
  top: 81px;
  left: -30px;
}

.header__body-rightside-hours {
  background-color: #5CBA99;
  color: #FFFFFF;
  border-radius: 50%;
  padding: 17px 12px;
  margin-right: 15px;
}

.header_service-number {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
}

.header_service-desc {
  line-height: 28px;
}

.header__service-text {
  margin-right: 30px;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
}

.header__body-rating {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 59px;
  box-shadow: 0 0 0px 13px #dddbdb5a;
  max-height: 102px;
  padding: 24px 0;
  position: absolute;
  bottom: 70px;
  right: -20px;

}

.header__rating-texts {
  margin: 0 15px 0 38px;
}

.header__rating-num {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #000000;
}

.header__rating-txt {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  opacity: 0.7;
}

.header__stars {
  width: 0;
  margin-right: 32px;
  z-index: 1;
  overflow: hidden;
  white-space: nowrap;


}

.header__greystar {
  position: absolute;
  z-index: 0;
  right: 31.1px;
  bottom: 36px;
  white-space: nowrap;

}


/* main start */
.main {
}
.main__offer {
    padding: 128px 0;
}
#offer{
background-color: #F2F2F2;

    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
}
.offer__inner {
  display: flex;  
flex-direction: column;
align-items: center;
}
.offer__heading {
  text-align: center;
}
.offer__heading-txt1 {
  font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
text-align: center;
letter-spacing: -0.03em;
color: #1E1B1B;
}
.offer__heading-txt2 {
  font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 58px;
line-height: 76px;
/* or 131% */

text-align: center;
letter-spacing: -0.03em;

/* Black */
max-width: 852px;
color: #1E1B1B;
}
.offer__services {
  display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
    width: 100%;
    justify-items: stretch;
    align-items: center;
    margin-top: 62px;
}

.offer__items {
  background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 7.96px;
    height: 232px;
    margin-bottom: 8px;
    
}
.offer__items:hover{
  background-color:#FF6433;
  color: #F2F2F2;
  
}
.offer__icons svg {
fill: #000000;

}
.offer__items:hover svg {
  fill: #ffffff;
  }
.offer__desc {
  font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
text-align: center;
letter-spacing: -0.03em;
transition: .3s;

}
.offer__learn-about {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  padding: 5px 15px;
  border-radius: 10px;
  transition: .3s;
  margin-top: 24px;
}
.offer__learn-about:hover {
  background-color: #FF6433;
  color: #FFFFFF;
}
.offer__learn-about:hover svg{
  fill: #FFFFFF;
}
.offer__learn-about-text {
  font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 18px;

margin-right: 6px;
}
.offer__arrow svg {
fill: #000000;
}
.offer__items-item4, .offer__items-item8{
  margin-right: 0px;
}

.main__process {
  padding: 134px 0; 
}
.proccess__inner{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.process__left {
  max-width: 524px;
  margin-right: 131px;
}
.proccess__left-text1 {
  font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 58px;
line-height: 76px;
letter-spacing: -0.03em;

}
.process__left-text2 {
  font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 28px;
color: #1E1B1B;
opacity: 0.6;
margin-top:16px ;
}
.main__left-button {
  margin-top: 32px;
}
.main__left-button:hover {
  scale: 1.1;
}
.process__right {
  display: flex;
  flex-direction: row;
  max-width: 432px;
}
.process__right-imgside {
  display: flex;
  flex-direction: column;

}

.process__right-circle{
padding: 24px 18px; 
  background-color:#661CE7;
  border-radius: 50%;
  margin-top: 22px;
}
.right__circle-item-1{
  margin-top:0px;
}
.circle__txt{
  font-family: 'Manrope';
font-weight: 700;
font-size: 32px;
line-height: 24px;
/* identical to box height, or 75% */
color: #FFFFFF;
}
.circle__down{
  position:relative; 
  bottom:22px;
  right:-16px;
}
.circle__razd{
  position: relative;
  right:-35px;
}
.process__right-txtside {
  display: flex;
  flex-direction: column;
}
.right__txtside-up{
font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 48px;
/* identical to box height, or 150% */
padding: 8px 16px;
letter-spacing: -0.03em;

/* Black */

color: #1E1B1B;}
.right__txtside-down{
  font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 175%;
/* or 32px */
padding-left: 24px;

/* Black */

color: #1E1B1B;

opacity: 0.6;
}
.right__txtside1{

}
.right__txtside2{
  margin-top: 29px;
}
.right__txtside3{
  margin-top: 29px;
}