body{
  font-family:'Gilroy',sans-serif;
  background: #191411;
}
.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  background: url(../imag/Group\ 2.png)50% 50% /cover no-repeat;
}
.header {
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 54px 0;
  align-items: center;

}
.header__image-box {
  max-width: 156.23px;
  max-width: 50px;
}
.header__nav-list {


}
.nav__list {
  font-weight: 600;
font-size: 18px;
line-height: 22px;
  display: flex;
color: #FFFFFF;

}
.nav__list li:hover{
color:#D3320F;
}
.nav__list li{
  margin-right: 88px;
  transition: all .3s;
}
.nav__list li:last-child{
  margin-right: 0;
}
.header__currency {
  border: 1px solid #FFFFFF;
border-radius: 5px;
font-weight: 600;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
padding:  12px 17px ;
transition: all .3s ;
}
.header__currency:hover{
  color:#328832;
}
.main {
  padding-top: 102px;
}

.main__inner {

}
.main_lefts {
  display: flex;
  flex-direction: column;
  max-width: 608px;
  max-height: 648px;
  position: relative;
}
.main__lefts-newmenu {
  width: 137px;
  height: 46px;
  font-weight: 600;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
background: #D3320F;
border-radius: 100px;
justify-content: center;
align-items: center;
display: flex;
}
.main__button {
  font-weight: 600;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #191411;
justify-content: center;
align-items: center;
padding: 19px 50px;
gap: 10px;
width: 260px;
height: 62px;
background: linear-gradient(95.61deg, #DA8023 0%, #E2B438 100%);
border-radius: 8px;
margin-top: 56px;
transition: all .3s;
}
.main__button:hover{
scale: 1.1;
background: linear-gradient(95.61deg, #DA8023 0%, #E2B438 100%);
}

.main_lefts h1{
font-family: 'Merriweather';
font-style: normal;
font-weight: 900;
font-size: 120px;
line-height: 130%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;}

.main_lefts span{
font-weight: 600;
font-size: 24px;
line-height: 29px;
margin-top: 56px;
color: #FFFFFF;
}
.main__image-box img{
  position: absolute;
  top:-123px ;
left: 200px;
}



@font-face {
  font-family:'Gilroy' ;
  src: url(../fonts/Gilroy-Semibold.ttf);
}
@font-face {
  font-family:'Merriweather';
  src: url(../fonts/Merriweather-Black.ttf);
}