html, body {
  font-family: 'Lato', sans-serif;
  color: #424551;
  line-height: 160%;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;

}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.button {
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 52px;
  padding: 0 40px;
  color: #FFFFFF;
  border-radius: 4px;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  white-space: nowrap;
  transition: .3s;
}

.button:hover {
  transform: scale(1.1);

}

.button--empty {
  border-radius: 7px;
  background-image: none;
  border-left: 2px solid #FF3F3A;
  border-right: 2px solid #F75E05;
  background-image: -webkit-linear-gradient(left, #FF3F3A, #F75E05), -webkit-linear-gradient(left, #FF3F3A, #F75E05);
  background-image: linear-gradient(left, #FF3F3A, #F75E05), linear-gradient(left, #FF3F3A, #F75E05);
  background-size: 100% 2px;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  background-clip: border-box;
}

.button--empty span {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {}

/*********************************************************** */
.header {
  font-weight: 700;
  background: url("../images/decor/shapes-bg.svg") 50% 50% /cover no-repeat, linear-gradient(55.95deg, rgba(255, 63, 58, .2) 0%, rgba(247, 94, 5, .2) 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header_top {}


.header_top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}


.header_logo {
  margin-right: 60px;
}

.header_nav {
  margin-right: auto;
}

.header_nav-list {
  display: flex;

}

.header_nav-item {
  margin-right: 40px;
}

.header_nav-item :last-child {
  margin-right: 0;
}

.header_nav-link {
  white-space: nowrap;
  line-height: 1.6;
  color: #424551;

}

.header_nav-link:hover {
  color: #FF3F3A;
  line-height: 1.6;
  transition: all .3s;
}

.header_btn-box {
  display: flex;
  align-items: center;
}

.header_top-btn {
  margin-right: 36px;
}

.header_user-btn {
  white-space: nowrap;
  line-height: 1.6;
}

.header_user-btn:hover {
  color: #FF3F3A;
  line-height: 1.6;
  transition: all .3s;

}

.button {}

.header_user-nav {
  position: relative;
  padding-left: 28px;
}

.header_user-nav::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  background: url("../images/icons/user-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
}


/* *************************** ********************/

.header_body {
  flex: 1 1 auto;
}

.header_body-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1E212C;
  margin: auto 0;
}

.header-content {
  margin-right: 30px
}

.header_play {
  display: inline-flex;
  align-items: center;
  margin-bottom: 24px;
}

.header_play svg {
  margin-right: 16px;
  border-radius: 50%;
  transition: .3s;
}

.header_play svg:hover {
  box-shadow: 0 0 0 16px rgb(255, 63, 58, 0.12);
}

.header_title {
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 1px;
  max-width: 500px;
  margin-bottom: 60px;
}

.header_content-buttons {
  display: flex;
}

.header_content-btn {
  margin-right: 24px;
}

.header_content-btn:last-child {
  margin-right: 0;
}

.header_img {}

.header_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1E212C;
  margin-bottom: 80px;
}

.header_row>span {
  width: 8px;
  height: 8px;
  background: #FF3F3A;
  border-radius: 50%;
  margin: 0 15px;
}

.header_row-item {
  display: flex;
  align-items: center;

}

.header_row-item span {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  margin-right: 12px;
}

/* ******************************* */
.main {}

.heading {
  color: #1E212C;
}

.heading__title-center {
  text-align: center;
}

.about {
  padding: 180px 0 160px;
  position: relative;
}

.about__inner {}

.about_createx {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 180px;
  position: relative;
}

.about_createx::before {
  content: "";
  position: absolute;
  top: -86px;
  right: -140px;
  background: url("../images/decor/1.svg");
  width: 100px;
  height: 85px;
}

.about__createx-content {
  max-width: 600px;
  margin-right: 30px;
}

.about__heading {
  margin-bottom: 48px;
}

.heading__subtitle {
  line-height: 150%;
  margin-bottom: 8px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
}

.heading__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
}

.about__text {
  margin-bottom: 60px;
}

.about__paragraph {
  margin-bottom: 24px;

}

.about__paragraph:last-child {
  margin-bottom: 0;
}

.about__paragraph--accent {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;

}

.about__btn-box {
  display: flex;
}

.about__btn {
  margin-right: 24px;
}

.about__btn:last-child {
  margin-right: 0;
}

.about__image {}

.about__values {
  display: flex;
  justify-content: space-between;
}

.about__img-box {
  border-radius: 4px;
}

.about__img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__numbers {
  margin-left: 30px;
  align-self: center;

}

.about__number {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;


  color: #1E212C;

}

.about__number:last-child {
  margin-bottom: 0;
}

.about__number span {
  font-weight: 900;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 1px;
  color: #FF3F3A;
  margin-right: 16px;
}

/* ************************** */
.directions {
  padding-bottom: 180px;
}

.directions__inner {
  position: relative;
}

.directions__inner::before {
  content: '';
  position: absolute;
  top: 4px;
  left: -310px;
  width: 136px;
  height: 115px;
  background: url(../images/decor/2.svg);
}

.directions__inner::after {
  content: '';
  position: absolute;
  top: 426px;
  right: -450px;
  width: 243px;
  ;
  height: 243px;
  background: url(../images/decor/3.svg);
  opacity: 0.12;
}

.directions__heading {
  margin-bottom: 90px;

}

.directions__body {}

.directions__filter-box {
  display: flex;
  margin-bottom: 56px;
}

.directions__filter-item {
  margin-right: 45px;
}

.directions__filter-item:last-child {
  margin-right: 0;
  ;
}

.directions__filter-btn {
  background-color: transparent;
  color: #9A9CA5;
  border: 1px solid #9A9CA5;
  border-radius: 4px;
  font-weight: 700;
  padding: 5px 7px;
  line-height: 1;
  font-style: 16px;
}

.directions__filter-btn--active {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border: none;
  color: #FFFFFF;
  padding: 6px 8px;
}

.directions__list {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
  gap: 30px;
}

.directions__list-item {}

.directions__list-item--empty {
  background: #F4F5F7;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #424551;
  border-radius: 4px;

}

.directions__list-item--empty span {
  max-width: 240px;

}

.directions__list-link {
  display: block;
  border-radius: 4px;
  overflow: hidden;
  transition: all 1s;
}

.directions__list-link:hover {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  transition: .3s;
}

.directions__list-link:hover .directions__link-btn {
  color: #FF3F3A;
  transition: .3s;
}

.directions__image-box img {
  height: 100%;
  width: 100%;
}

.directions__link-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  border: 1px solid #E5E8ED;
  border-top: none;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.directions__link-tag {
  font-weight: 700;
  line-height: 1;
  color: #FFFFFF;
  background-color: #787A80;
  padding: 4px 6px;
  border-radius: 4px;
  align-self: flex-start;
  margin-bottom: 20px;
}

.directions__link-text {
  color: #787A80;
  margin-bottom: 20px;
}

.directions__link-btn {
  color: #1E212C;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  transition: 1s;
}

.directions__link-btn::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url(../images/icons/arrow-right-red.svg) 0 0 / 100% no-repeat;
  margin-left: 11px;
}

.direction__list-item--marketing .directions__link-tag {
  background-color: #03CEA4;
}

.direction__list-item--managment .directions__link-tag {
  background-color: #5A87FC;
}

.direction__list-item--hr .directions__link-tag {
  background-color: #F89828;
}

.direction__list-item--design .directions__link-tag {
  background-color: #F52F6E;
}

.direction__list-item--development .directions__link-tag {
  background-color: #7772F1;
}

.main__cert {
  margin-bottom: -46px;
}

.cert__inner {
  display: flex;
  justify-content: space-between;
}

.cert__content {
  max-width: 392px;
}

.cert__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;

  color: #424551;
}

.cert__heading {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin-right: 30px;
}

.cert__logos {
  display: flex;
  margin-top: 32px;
}

.cert__logos-item {
  margin-right: 42px;
}

.cert__logos-item:last-child {
  margin-right: 0;
}

.cert__img-box {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  border-radius: 4px;
}

/* *******************TEAM SLider*********************************** */
/* ****************************************************** */
.main__team {
  padding: 160px 0px 180px;
}

.team {
  background: url(../images/decor/team-bg.svg) calc(50% + 140px) calc(50% + -120px) no-repeat, #F4F5F6;

}

.team__inner {
}

.team__heading {
  margin-bottom: 60px;
  position: relative;

}

.team__slider {}

.team__slider .slick-list {
  margin: 0 -15px;
}

.team__slide {
  padding: 0 15px;
}

.team__slide:hover .team__socials {
  transform: translateY(0%);

}

.team__inner {}

.team__image-box {
  border-radius: 4px;
  margin-bottom: 16px;
  overflow: hidden;
  position: relative;
}

.team__image {
  position: relative;
  height: 340px;
}

.team__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team__socials {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50%;
  padding: 20px;
  background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
  ;
  transform: translateY(50%);
  transition: all .3s;
}

.team__socials-item {
  margin-right: 12px;
}

.team__socials-item:last-child {
  margin-right: 0;
}

.team__socials-link {
  display: block;
  line-height: 0;
}

.team__socials-link path {
  transition: all .3s;
}

.team__socials-link:hover path {
  fill: #F4F5F7;
}

.team__info {
  text-align: center;
}

.team__info-name {
  color: #424551;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 5px;
}

.team__info-position {
  color: #787A80;
  font-size: 16px;
}

.team__slider-arrows {
  position: absolute;
  bottom: 0;
  right: 0;
}

.team__slider-arrows{
display: flex;
}
.team__slider-arrow{
border-radius: 50%;
display: block;
line-height: 0;
position: relative;
z-index: 5;
}

.team__slider-arrow path{
  transition:all .3s;
  
}

.team__slider-arrow::before{
  content:'';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0);
  width: 40px;
  height: 40px;
  background-color:#FF3F3A ;
  border-radius: 50%;
  z-index: -1;
  transition:all .3s;
}
.team__slider-arrow:hover::before{
  transform: translate(-50%,-50%) scale(1);
}
.team__slider-arrow:hover path {
  fill: #ffffff;
}
.team__slider-prev {
  margin-right: 24px;
}
.team__slider-next {

}