header {
    color: #FFF;
    font-family: 'Golos Text', sans-serif;
}

%interstand {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    line-height: 114%;
    letter-spacing: -0.32px;
}

.stick1 {
    width: 1px;
    height: 820px;
    background: rgba(37, 37, 44, 0.07);
    position: absolute;
    left: 15px;
    top: -20px;
}

.stick2 {
    width: 1px;
    height: 820px;
    background: rgba(37, 37, 44, 0.07);
    position: absolute;
    left: 368px;
    top: -20px;
}

.stick3 {
    width: 1px;
    height: 820px;
    background: rgba(37, 37, 44, 0.07);
    position: absolute;
    left: 768px;
    top: -20px;
}

.stick4 {
    width: 1px;
    height: 820px;
    background: rgba(37, 37, 44, 0.07);
    position: absolute;
    left: 1192px;
    top: -20px;
}

.title {
    color: #1F252D;
    text-align: center;
    font-family: 'Golos Text', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 98.5%;
}

// ********************************************************
.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}


.container {
    max-width: 1205px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    overflow: hidden;
}


.header {
    background: url("..//images/ekran1/background1.png") 50% 50% /cover no-repeat;
    max-height: 800px;

    &__top-inner {
        display: flex;
        padding: 42px 0;
        justify-content: space-between;
    }

    &__top-logo {

        font-weight: 700;
        font-size: 20px;
        align-self: flex-start;
        margin-left: 52px;
        line-height: 130%;
    }

    &__top-menu {

        font-size: 16px;
        display: flex;
        line-height: 130%;
    }

    &__top-menu--item {
        margin-right: 18px;
        transition: all .3s;
    }

    &__top-menu--item:hover {
        transform: scale(1.08);
    }

    &__top-menu--item:last-child {
        margin-right: 52px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        max-width: 470px;
        padding: 159px 0 206px 0;

    }

    &__content span {
        text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);
        font-size: 14px;
        font-weight: 600;
        line-height: 130%;
        letter-spacing: 0.84px;
    }

    &__content h1 {
        font-size: 72px;
        font-weight: 700;
        line-height: 113%;
    }

    &__content p {
        text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);
        font-size: 20px;
        line-height: 113%;
        margin-top: 12px;

    }

    &__body {
        position: relative;
    }

    &__body-button {
        display: inline-flex;
        transition: all .3s;
        margin-top: 46px;
        max-width: 254px;
        height: 64px;
        padding: 24px 41px;
        border-radius: 55px;
        background: #25252C;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);
    }

    &__body-button span {
        font-size: 14px;
        font-weight: 500;
        line-height: 113%;
        margin-left: 10px;

    }

    &__body-button:hover {
        transform: scale(1.1);

    }

    &__img-box {
        position: absolute;
        right: -38px;
        bottom: -8px;
    }

}

.about {
    background: linear-gradient(0deg, #1E262F 0%, #1E262F 100%), #181C1D;
    max-height: 800px;
    overflow: hidden;

    &__inner {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &__leftside {
        display: flex;
        color: #FFF;
        font-family: 'Inter', sans-serif;
        justify-content: center;
        align-items: center;
        max-height: 800px;
        width: 350px;
    }

    &__watermark {
        color: rgba(255, 255, 255, 0.10);
        text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);
        font-size: 14px;
        font-family: 'Golos Text';
        font-weight: 600;
        line-height: 130%;
        letter-spacing: 0.84px;
        transform: rotate(-90deg);
        position: absolute;
        top: 369px;
        left: -100px;
    }

    &__borders {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
    }

    &__borders span {
        width: 3px;
        height: 176px;
        background: rgba(255, 255, 255, 0.10);
    }

    &__borders p {
        width: 1px;
        height: 624px;
        background: rgba(255, 255, 255, 0.10);
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        padding: 0 122px 0 67px;
        white-space: nowrap;

    }

    &__buttons-item {
        color: #FFF;
        font-size: 24px;
        font-family: 'Inter', sans-serif;
        font-weight: 300;
        line-height: 113%;
        letter-spacing: -0.48px;
        opacity: 0.25;
        margin-bottom: 16px;
        transition: all .7s;
    }

    &__buttons-item--active {

        font-size: 32px;

        font-weight: 600;

        letter-spacing: -0.64px;
        opacity: 1;
    }

    &__buttons-item--inactive {
        font-size: 18px;
        font-weight: 300;
        line-height: 113%;
        letter-spacing: -0.36px;
    }

    &__rightside-descr {
        display: flex;
        flex-direction: column;
        transition: all 1s;
    }

    &__rightside-descr--item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 174px;
        margin-left: 193px;
        position: relative;
        margin-right: 33px;
        margin-bottom: 250px;
        max-width: 748px;
        transition: all 1s;
    }

    &__rightside-descr--item h2 {
        color: rgba(255, 255, 255, 0.80);
        text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.80), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);
        font-size: 56px;
        font-family: 'Oranienbaum', sans-serif;
        line-height: 113%;
        position: absolute;
        max-width: 335px;
        top: 71px;
        left: -153px;
    }

    &__rightside-descr--item1---rs {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    &__rightside-descr--imgbox {
        position: relative;
        margin-bottom: 44px;
        align-self: flex-end;

    }

    &__rightside-descr--imgbox img {
        width: 100%;
        height: 100%;
        object-fit: contain;

    }

    &__rightside-descr--item1---rs span {
        @extend %interstand;
        color: rgba(255, 255, 255, 0.60);
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);
        margin-bottom: 16px;
        max-width: 453px;
    }

    &__rightside-descr--item1---rs p {
        @extend %interstand;
        color: rgba(255, 255, 255, 0.60);
        max-width: 453px;
        text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);
    }

    &__rightside-descr-play {
        position: absolute;
        top: 79px;
        left: 136px;
    }

    &__rightside-descr-play img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }


    &__descr-text {
        display: flex;
        flex-direction: column;
        color: rgba(255, 255, 255, 0.80);
        font-size: 16px;
        font-family: 'Inter';
        font-weight: 300;
        line-height: 113%;
    }

    &__rightside-descr--item2 {
        display: flex;
        margin: 172px 120px 250px 85px;
        max-width: 748px;
    }

    &__rightside-descr--item2 h1 {
        color: rgba(255, 255, 255, 0.80);
        text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);
        font-size: 56px;
        font-family: 'Oranienbaum';
        line-height: 113%;
    }

    &__rightside-descr--item2 p {
        @extend %interstand;
        color: rgba(255, 255, 255, 0.60);
    }

    &__rightside-descr--rukphoto {
        margin-right: 5px;

    }

    &__rightside-descr--rukphoto img {}


    &__rightside-descr--item---3 {
        display: flex;
        flex-direction: column;
        color: rgba(255, 255, 255, 0.80);
        font-size: 16px;
        font-family: 'Inter';
        font-weight: 300;
        line-height: 113%;
        justify-content: flex-start;
        margin-top: 174px;
        margin-left: 51px;
        max-width: 748px;
    }

    &__rightside-descr--item---3 li {
        margin-bottom: 5px;
        max-width: 650px;
    }

    &__rightside-descr--item---3 img {
        margin-bottom: 24px;
        max-width: 391px;
        max-height: 204px;
        margin-left: -20px;
    }

    &__borders-right {
        margin-right: 172px;
    }

    &__rightside-descr--item---active1 {
        transform: translateY(-850px);
    }

    &__rightside-descr--item---active2 {
        transform: translateY(-1650px);
    }
}

.about__rightside-descr {

    ul li {
        list-style: disc;
    }
}

// **************************
.project {
    font-family: 'Golos Text';
    color: #1F252D;
    background: #FAFAFA;
    max-height: 745px;
    overflow: hidden;

    @keyframes identifier {
        from {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-750px);
        }

        75% {
            transform: translateY(-1550px);
        }

        to {
            transform: translateY(-2300px);
        }
    }

    &__slide {
        margin: 0 35px 50px 0;

    }

    &__inner {
        position: relative;
        margin-top: 20px;
        padding-bottom: 25px;
        display: block;
        justify-content: space-between;
        animation-name: identifier;
        animation-duration: 12s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    &__smeta {
        display: flex;
        align-items: center;
        margin-right: 25px;
        justify-content: center;
        height: 714px;

    }

    &__smeta h1 {
        font-size: 32px;
        font-weight: 600;
        line-height: 98.5%;
        margin-bottom: 12px;
        max-width: 207px;
    }

    &__smeta p {
        text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);
        font-size: 16px;
        line-height: 113%;
    }

    &__smeta--txtbox {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    &__doma {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #1F252D;
        height: 714px;
        margin-right: -30px;
    }

    &__doma-txtbox {
        display: flex;
        flex-direction: column;
    }

    &__doma-txtbox h1 {
        color: #FFF;
        font-size: 32px;
        font-weight: 600;
        line-height: 98.5%;
        margin-bottom: 12px;
        max-width: 194px;
    }

    &__doma-txtbox p {
        color: #FFF;
        text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);
        font-size: 16px;
        line-height: 113%;
        max-width: 391px;
    }

    &__graph {
        display: flex;
        height: 714px;
        position: relative;
        margin-left: 64px;
    }

    &__graph-txtbox {
        display: flex;
        flex-direction: column;
        align-self: last baseline;
        max-width: 442px;
    }

    &__graph-txtbox h1 {
        font-size: 32px;
        font-weight: 600;
        line-height: 98.5%;
        max-width: 249px;
        margin-bottom: 12px;
    }

    &__graph-txtbox p {
        color: #1F252D;
        text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);
        font-size: 16px;
        line-height: 113%;
    }

    &__graph-imgbox {
        position: absolute;
        right: 179px;
        top: 167px;
    }

    &__otchet {
        display: flex;
        height: 714px;
        padding-bottom: 54px;
        margin: 0 25px 0 67px;
    }

    &__otchet-txtbox {
        display: flex;
        flex-direction: column;
        align-self: last baseline;
        max-width: 442px;
        margin-right: 115px;
    }

    &__otchet-txtbox h1 {
        font-size: 32px;
        font-weight: 600;
        line-height: 98.5%;
        max-width: 241px;
        margin-bottom: 12px;
    }

    &__otchet-txtbox p {
        color: #1F252D;
        text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);
        font-size: 16px;
        line-height: 113%;
    }

    &__otchet-imgbox {
        margin-top: 61px;
    }

    &__otchet-imgbox img {}
}

// ****************************

.benefit {
    padding-top: 50px;
    background: #FAFAFA;

    &__inner {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__content {
        display: flex;
    }

    &__list {
        margin-top: 55px;
        max-height: 543px;
        padding-bottom: 50px;
    }

    &__list-item {
        margin-bottom: 18px;
        display: flex;

        img {
            border-radius: 55px;
            border: 1px solid rgba(2, 2, 2, 0.25);
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);
            margin-right: 17px;
            padding: 24px 24px;
        }

        span {
            color: #1F252D;
            text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 114%;
            letter-spacing: -0.32px;
            align-self: center;
        }
    }

    &__imgbox {
        position: absolute;
        top: 80px;
        right: 0px;
    }

}

// *****************************

.houses {
    background: #FAFAFA;

    &__blind {
        background: linear-gradient(90deg, #FAFAFA 0%, rgba(250, 250, 250, 0.00) 100%);
        width: 353px;
        height: 635px;
        position: absolute;
        left: 0;
        z-index: 8;
    }

    &__blind2 {
        background: linear-gradient(90deg, #FAFAFA 0%, rgba(250, 250, 250, 0.00) 100%);
        width: 353px;
        height: 635px;
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 8;
        transform: rotate(180deg);
    }



    &__inner {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__list {
        display: flex;
    }

    &__list-item {
        margin: 44px 10px 44px 10px;
        background: #FFF;
        max-width: 380px;
        height: 481px;
        border-radius: 12px;
    }

    &__item-content {
        display: flex;
        flex-direction: column;


        h1 {
            color: #1F252D;
            font-family: 'Golos Text', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin: 18px 0 0 18px;
        }

    }

    &__item-descr {
        display: flex;
        flex-wrap: wrap;
    }

    &__item-descr--item {
        color: #121212;
        text-align: right;
        font-family: 'Golos Text', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 18px 32px 0 29px;
        display: flex;
    }

    &__item-descr--item:nth-child(2) {
        margin-right: 0;
        margin-left: 0;
    }

    &__item-descr--item:nth-child(3) {
        margin-right: 86px;

    }

    &__item-descr--item:nth-child(4) {
        margin-right: 0;
        margin-left: 0;
    }

    &__item-descr--item::before {
        display: block;
        content: "";
        width: 16px;
        height: 16px;
        background: url(../images/ekran5/kv.png)0 0 / 100% no-repeat;
        margin-right: 12px;
    }

    &__item-stick {
        width: 380px;
        height: 1px;
        background: rgba(235, 235, 236, 0.50);
        margin: 21px 0 26px 0;
    }

    &__descr-cost {
        display: flex;
        flex-wrap: wrap;
        margin-left: 18px;
        align-items: center;
        padding-bottom: 15px;

        span {
            color: #121212;
            font-family: 'Golos Text', sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

        }

        p {
            color: #1F252D;
            font-family: 'Golos Text', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        a {
            transition: all .3s;
            align-self: flex-end;
            margin: 0 18px 0 140px;
            padding: 15px 15px;
            border-radius: 55px;
            border: 1px solid #1F252D;
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);
        }

        a:hover {
            scale: 1.1;
        }

    }

    &__btn:hover {
        scale: 1.1;
    }

    &__btn {
        transition: all .3s;
        padding: 18px 35px;
        align-self: center;
        border-radius: 55px;
        background: #25252C;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);
        margin-bottom: 61px;

        a {
            display: flex;
            justify-content: center;
        }

        span {
            color: #FFF;
            font-family: 'Golos Text', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 113%;
            align-self: center;
        }

        img {
            margin-right: 8px;
            align-self: center;
        }
    }


    &__item-btn--next:hover button {
        scale: 1.2;
        transition: all .3s;
    }

    &__btn-next {
        position: absolute;
        right: 45px;
        top: 50%;
        z-index: 100;
        border-radius: 55px;
        background: #25252C;
        padding: 7px 7px;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);

        img {
            margin-left: 3px;
        }

    }

    &__item-btn--prev:hover button {
        scale: 1.2;
        transition: all .3s;
    }

    &__btn-prev {

        rotate: 180deg;
        position: absolute;
        left: 45px;
        top: 50%;
        z-index: 100;
        border-radius: 55px;
        background: #25252C;
        padding: 7px 7px;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);

        img {
            align-self: center;
            margin-left: 3px;
        }

    }
}

// *************CHOICE************************
.choice {
    background: #FAFAFA;
    padding-bottom: 64px;


    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        margin-top: 45px;
    }

    &__button {
        display: flex;
        flex-direction: column;
        margin-right: 21px;
        align-items: center;
        transition: all .5s;

        a {
            border-radius: 55px;
            border: 1px solid rgba(2, 2, 2, 0.25);
            padding: 12px 12px;

        }

        span {
            color: rgba(2, 2, 2, 0.25);
            text-align: right;
            text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);
            font-family: 'Inter', sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            letter-spacing: -0.24px;
            margin-top: 8px;
        }
    }

    &__button-active {
        a {
            padding: 12px 14px;
            border-radius: 55px;
            background: #25252C;
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00), 0px 4px 28px 0px rgba(0, 0, 0, 0.10) inset;
        }

        span {
            color: #020202;
            text-align: right;
            text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);
            font-family: 'Inter', sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            letter-spacing: -0.24px;
        }
    }

    &__content {
        display: flex;
    }

    &__content-item {
        display: none;
        margin: 53px 200px;
        transition: all 1s;
    }

    &__content-item--active {
        display: flex;
        justify-content: center;
    }

    &__content-descr {
        display: flex;
        flex-direction: column;
        margin-right: 40px;
        justify-content: center;
        width: 440px;

        h1 {
            color: #020202;
            text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);
            font-family: 'Oranienbaum', sans-serif;
            font-size: 56px;
            font-style: normal;
            font-weight: 400;
            line-height: 95%;
            max-width: 421px;
        }

        span {
            color: #020202;
            font-family: 'Inter', sans-serif;
            font-size: 42px;
            font-style: normal;
            font-weight: 300;
            line-height: 113%;
            letter-spacing: -1.68px;
            margin-bottom: 21px;
        }

        p {
            color: rgba(2, 2, 2, 0.80);
            text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 114%;
            letter-spacing: -0.32px;
            max-width: 455px;
            margin-top: 8px;
        }
    }

    &__content-imgbox {
        position: relative;
    }

    &__content-imgbox--but {
        position: absolute;
        top: 41%;
        left: 44%;
        transition: all .3s;
    }

    &__content-imgbox--but:hover {
        transform: scale(1.1);
    }
}

.step {
    background: #FAFAFA;

    &__inner {
        display: flex;
        flex-direction: column;
        padding-bottom: 126px;
        overflow: hidden;
        max-width: 1500px;
        margin: 0 auto;
    }

    &__content {
        display: flex;
        justify-content: center;
        margin-top: 80px;
    }

    &__content-active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all .6s;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 36px;
        transition: all .6s;
        z-index: 50;

        li {
            margin-bottom: 24px;
        }

        span {
            color: #1F252D;
            font-family: 'Golos Text', sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-align: start;
            padding: 10px 5px;
            background: #FFFFFF;
            border-radius: 12px;
        }
    }

    &__btn1 {
        max-width: 80px;
    }

    @keyframes botmenu-to-topmenu {
        from {
            transform: translateY(-250px);
        }

        to {
            transform: translateY(0);
        }
    }

    &__buttons-active {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        animation-name: botmenu-to-topmenu;
        animation-duration: 1s;

        li {
            margin-right: 15px;
        }
    }

    @keyframes menu-to-menu {
        from {
            transform: translateX(-280px);
        }

        to {
            transform: translateX(0);
        }
    }

    &__buttons-unactive {
        animation-name: menu-to-menu;
        animation-duration: 1s;
    }

    &__btn-active {

        span {
            padding: 10px 5px;
            border-radius: 12px;
            color: #FFFFFF;
            margin-bottom: 44px;
            background: linear-gradient(0deg, #1F252D 0%, #1F252D 100%), #FFF;
        }
    }

    &__pics {
        display: flex;
        transition: all .4s;
        max-width: 1270px;
        margin-top: 24px;
        transition: all 1s;
    }

    &__pic {
        display: none;
        max-width: 1256px;
        max-height: 519px;
    }

    &__pics-active {
        display: block;
    }

}

.quiz {
    background: #FAFAFA;
    padding-bottom: 72px;

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__subtitle {
        color: #25252C;
        text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);
        font-family: 'Golos Text', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        /* 18.2px */
        letter-spacing: 0.84px;
        text-align: center;
    }

    &__title {
        max-width: 748px;
        margin-bottom: 36px;
    }

}

.footer {
    background: #1E242C;
    padding-bottom: 24px;

    &__inner {
        display: flex;
        flex-direction: column;
        margin-top: 24px;
    }

    &__content-up {
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;
    }

    &__list {
        display: flex;
        flex-direction: column;

    }

    &__about-item--main {
        h1 {
            color: #FFF;
            font-family: 'Golos Text', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
            padding-bottom: 4px;
        }
    }

    &__about-item--other {

        h1 {
            color: #FFF;
            font-family: 'Golos Text', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
            padding-bottom: 4px;
        }
    }

    &__about-item {
        margin-bottom: 8px;

        span {
            color: #FFF;
            font-family: 'Golos Text', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            opacity: 0.56;
        }
    }

    &__line {
        width: 1296px;
        height: 1px;
        flex-shrink: 0;
        background: rgba(255, 255, 255, 0.05);
    }

    &__content-bottom {
        display: flex;
        justify-content: space-between;
    }

    &__content-bottom--leftside {
        display: flex;
        flex-direction: column;
        margin-top: 32px;

        p {
            color: rgba(255, 255, 255, 0.25);
            font-family: 'Golos Text', sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            /* 15.6px */
            margin-bottom: 6px;
        }
    }

    &__bot-list {
        display: flex;
        flex-direction: column;

        h1 {
            color: #FFF;
            font-family: 'Golos Text', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 130%;
            /* 20.8px */
            padding-bottom: 24px;
        }

        p {
            color: #FFF;
            font-family: 'Golos Text', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            opacity: 0.800000011920929;
            margin-bottom: 12px;
            white-space: nowrap;
        }
    }

    &__bot-icons {
        display: flex;
        margin-top: 12px;

        img {
            margin: 0 16px 12px 0;
        }
    }

    &__content-bottom--rside {
        margin-top: 52px;
    }
}

@media(max-width:1200px) {
    .about__leftside {
        width: 200px;
    }

    .about__borders {
        display: none;
    }

    .about__buttons {
        padding: 0;
    }

    .project__doma-imgbox img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .project__smeta-imgbox img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .project__otchet-imgbox img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .project__graph-imgbox img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .project__smeta--txtbox {
        max-width: 280px;
    }

    .choice__content-item {
        flex-direction: column;
        align-self: center;
        margin: 70px auto;
    }

    .choice__content-descr p {
        margin-bottom: 15px;
    }

}

@media(max-width:1150px) {
    .benefit__imgbox {
        display: none;
    }

    .step__pic img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

@media(max-width:1000px) {
    .header__img-box {
        display: none;
    }

    .about__buttons {
        flex-direction: row;
    }

    .about__inner {
        flex-direction: column;
    }

    .about__leftside {
        align-self: center;
        z-index: 50;
    }

    .about__buttons-item {
        margin: 25px 20px 0 0;
    }

    .project__otchet-txtbox {
        max-width: 300px;
    }

    .footer__about-item--other {
        display: none;
    }
}

@media(max-width:900px) {
    .houses__blind2 {
        display: none;
    }

    .houses__blind {
        display: none;
    }

    .slick-next {
        display: none;
    }

    .slick-prev {
        display: none;
    }
}

@media(max-width:800px) {
    .houses__list-item {
        display: flex;
        background: none;
        height: 284px;
    }

    .houses__btn-prev {
        top: 66%;
    }

    .houses__btn-next {
        top: 66%;
    }
}

@media(max-width:750px) {
    .about__rightside-descr--item h2 {
        left: -188px;
    }

    .about__rightside-descr--item1---rs span {
        box-shadow: none;
    }

    .about__rightside-descr--imgbox {
        margin-bottom: 25px;
    }

    .footer__content-up {
        display: flex;
        flex-direction: column;
    }

    .footer__content-bottom--rside img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .footer__about-item {
        display: none;
    }

    .houses__list-item {
margin:44px auto;
        flex-direction: column;
        height:481px;
    }
    .houses__btn-prev {
        top: 42%;
        left: 12px;
    }

    .houses__btn-next {
        top: 42%;
        right: 15px;
    }
}

@media(max-width:700px) {

    .header__top-menu {
        display: none;
    }

    .header__top-logo {
        margin-left: 20px;
    }

    .about__rightside-descr--item h2 {
        font-size: 46px;
    }

    .about__rightside-descr--rukphoto img {
        max-width: 220px;
    }

    .about__rightside-descr--item1---rs h1 {
        font-size: 50px;
    }

    .about__rightside-descr--item1---rs span {
        font-size: 13px;
    }

    .about__rightside-descr--item1---rs p {
        font-size: 13px;
    }

    .stick1 {
        display: none;
    }

    .stick2 {
        display: none;
    }

    .stick3 {
        display: none;
    }

    .stick4 {
        display: none;
    }
}

@media(max-width:670px) {
    .project__smeta-imgbox {
        display: none;
    }

    .project__graph-imgbox {
        display: none;
    }

    .project__otchet-imgbox {
        display: none;
    }

    .project__doma-imgbox {
        display: none;
    }

    .project__graph-txtbox {
        align-self: center;
    }

    .project__otchet-txtbox {
        align-self: center;
    }

    .step__buttons {
        margin-right: 2px;
    }

    .step__buttons-active li {
        margin-right: 2px;
    }

    .step__buttons span {
        font-size: 10px;
    }
}

@media(max-width:620px) {
    .about__rightside-descr-play {
        display: none;
    }


    .about__rightside-descr--item1---rs h1 {
        font-size: 35px;
    }

    .about__rightside-descr--item---active1 {
        transform: translateY(-783px);
    }


}

@media(max-width:550px) {
    .header__content {
        padding: 110px 0 200px 0;
    }

    .about__rightside-descr--item1---rs span {
        font-size: 10px;
    }

    .about__rightside-descr--item1---rs p {
        font-size: 10px;
    }

    .about__buttons-item {
        font-size: 20px;
    }

    .about__rightside-descr--item2 {
        flex-direction: column;
    }

    .choice__content-imgbox img {
        max-width: 400px;
    }

    .about__rightside-descr--item---active {
        transform: translateY(70px);
    }
}

@media(max-width:500px) {
    .about__rightside-descr--item1---rs h1 {
        font-size: 30px;
    }

    .about__rightside-descr--item {
        margin-left: 20px;
    }

    .about__rightside-descr--item h2 {
        left: 95px;
        top: -160px;
    }

    .choice__content-imgbox--but {
        left: 32%;
    }

    .step__buttons span {
        font-size: 7px;
    }

    .step__buttons {
        margin-right: 5px;
    }

    .project__doma-txtbox {
        max-width: 250px;
    }
}

@media(max-width:450px) {
    .header__content {
        padding: 80px 0 200px 0;
    }

    .about__rightside-descr--item h2 {
        font-size: 37px;
        max-width: 250px;
    }

    .about__buttons-item {
        font-size: 17px;
    }

    .about__rightside-descr--item1---rs h1 {
        font-size: 29px;
    }

    .about__rightside-descr--item---active2 {
        transform: translateY(-1600px);
    }

    .about__rightside-descr--item2 {
        margin-left: 15px;
    }

    .choice__content-descr h1 {
        font-size: 48px;
    }

    .choice__content-descr span {
        font-size: 35px;
        margin-bottom: 5px;
    }

    .choice__content-descr p {
        font-size: 14px;
        max-width: 400px;
    }

    .choice__content-imgbox--but {
        left: 29%;
    }

    .choice__content-imgbox img {
        max-width: 350px;
    }
}

@media(max-width:400px) {
    .about__rightside-descr--item h2 {
        left: 75px;
    }

    .choice__content-descr p {
        font-size: 14px;
        max-width: 350px;
    }

    .choice__content-descr h1 {
        max-width: 350px;
    }
}

@media(max-width:400px) {
    .choice__content-imgbox img {
        max-width: 300px;
    }

    .choice__content-imgbox--but {
        left: 23%;
    }

    .choice__content-descr p {
        font-size: 14px;
        max-width: 300px;
        margin-bottom: 5px;
    }

    .choice__content-descr h1 {
        font-size: 35px;
        max-width: 300px;
    }

    .choice__content-descr span {
        font-size: 30px;

    }
}

@media(max-width:400px) {
    .step__buttons span {
        font-size: 6px;
    }};
    @media(max-width:350px) {
        .about__buttons-item{
            font-size: 13px;
            margin-right: 7px;
        }
    }