header {
    color: #FFF;
    font-family: 'Golos Text', sans-serif;
}

%interstand {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    line-height: 114%;
    letter-spacing: -0.32px;
}


// ********************************************************
.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;

}


.container {
    max-width: 1124px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.border {
    width: 1px;
    height: 745px;
    background: rgba(37, 37, 44, 0.07);
    position: absolute;
    top: 0;
    left: 0;
}

.border2 {
    width: 1px;
    height: 745px;
    background: rgba(37, 37, 44, 0.07);
    position: absolute;
    top: 0;
    left: 0;
}





.header {
    background: url("..//images/ekran1/background1.png") 50% 50% /cover no-repeat;
    max-height: 800px;

    &__top-inner {
        display: flex;
        padding: 42px 0;
        justify-content: space-between;
    }

    &__top-logo {

        font-weight: 700;
        font-size: 20px;
        align-self: flex-start;
        margin-left: 52px;
        line-height: 130%;
    }

    &__top-menu {

        font-size: 16px;
        display: flex;
        line-height: 130%;
    }

    &__top-menu--item {
        margin-right: 18px;
        transition: all .3s;
    }

    &__top-menu--item:hover {
        transform: scale(1.08);
    }

    &__top-menu--item:last-child {
        margin-right: 52px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        max-width: 470px;
        padding: 159px 0 206px 0;

    }

    &__content span {
        text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);
        font-size: 14px;
        font-weight: 600;
        line-height: 130%;
        letter-spacing: 0.84px;
    }

    &__content h1 {
        font-size: 72px;
        font-weight: 700;
        line-height: 113%;
    }

    &__content p {
        text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);
        font-size: 20px;
        line-height: 113%;
        margin-top: 12px;

    }

    &__body {
        position: relative;
    }

    &__body-button {
        display: inline-flex;
        transition: all .3s;
        margin-top: 46px;
        max-width: 254px;
        height: 64px;
        padding: 24px 41px;
        border-radius: 55px;
        background: #25252C;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);
    }

    &__body-button span {
        font-size: 14px;
        font-weight: 500;
        line-height: 113%;
        margin-left: 10px;

    }

    &__body-button:hover {
        transform: scale(1.1);

    }

    &__img-box {
        position: absolute;
        right: 138px;
        bottom: 19px;
    }

}

.about {
    background: linear-gradient(0deg, #1E262F 0%, #1E262F 100%), #181C1D;
    max-height: 800px;
    overflow: hidden;

    &__inner {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &__leftside {
        display: flex;
        color: #FFF;
        font-family: 'Inter', sans-serif;
        justify-content: center;
        align-items: center;
        max-height: 800px;
        width: 350px;
    }

    &__watermark {
        color: rgba(255, 255, 255, 0.10);
        text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);
        font-size: 14px;
        font-family: 'Golos Text';
        font-weight: 600;
        line-height: 130%;
        letter-spacing: 0.84px;
        transform: rotate(-90deg);
        position: absolute;
        top: 326px;
        left: -100px;
    }

    &__borders {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
    }

    &__borders span {
        width: 3px;
        height: 176px;
        background: rgba(255, 255, 255, 0.10);
    }

    &__borders p {
        width: 1px;
        height: 624px;
        background: rgba(255, 255, 255, 0.10);
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        padding: 0 122px 0 67px;
        white-space: nowrap;

    }

    &__buttons-item {
        color: #FFF;
        font-size: 24px;
        font-family: 'Inter', sans-serif;
        font-weight: 300;
        line-height: 113%;
        letter-spacing: -0.48px;
        opacity: 0.25;
        margin-bottom: 16px;
        transition: all .7s;
    }

    &__buttons-item--active {

        font-size: 32px;

        font-weight: 600;

        letter-spacing: -0.64px;
        opacity: 1;
    }

    &__buttons-item--inactive {
        font-size: 18px;
        font-weight: 300;
        line-height: 113%;
        letter-spacing: -0.36px;
    }

    &__rightside-descr {
        display: flex;
        flex-direction: column;
        transition: all 1s;
    }

    &__rightside-descr--item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 174px;
        margin-left: 193px;
        position: relative;
        margin-right: 33px;
        margin-bottom: 250px;
        max-width: 748px;
        transition: all 1s;
    }

    &__rightside-descr--item h2 {
        color: rgba(255, 255, 255, 0.80);
        text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.80), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);
        font-size: 56px;
        font-family: 'Oranienbaum', sans-serif;
        line-height: 113%;
        position: absolute;
        max-width: 335px;
        top: 71px;
        left: -153px;
    }

    &__rightside-descr--item1---rs {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    &__rightside-descr--imgbox {
        position: relative;
        margin-bottom: 44px;
        align-self: flex-end;
    }

    &__rightside-descr--item1---rs span {
        @extend %interstand;
        color: rgba(255, 255, 255, 0.60);
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);
        margin-bottom: 16px;
        max-width: 453px;
    }

    &__rightside-descr--item1---rs p {
        @extend %interstand;
        color: rgba(255, 255, 255, 0.60);
        max-width: 453px;
        text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);
    }

    &__rightside-descr-play {
        position: absolute;
        top: 79px;
        left: 136px;
    }

    &__descr-text {
        display: flex;
        flex-direction: column;
        color: rgba(255, 255, 255, 0.80);
        font-size: 16px;
        font-family: 'Inter';
        font-weight: 300;
        line-height: 113%;
    }

    &__rightside-descr--item2 {
        display: flex;
        margin: 172px 120px 250px 85px;
        max-width: 748px;
    }

    &__rightside-descr--item2 h1 {
        color: rgba(255, 255, 255, 0.80);
        text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);
        font-size: 56px;
        font-family: 'Oranienbaum';
        line-height: 113%;
    }

    &__rightside-descr--item2 p {
        @extend %interstand;
        color: rgba(255, 255, 255, 0.60);
    }

    &__rightside-descr--rukphoto {
        margin-right: 5px;
    }


    &__rightside-descr--item---3 {
        display: flex;
        flex-direction: column;
        color: rgba(255, 255, 255, 0.80);
        font-size: 16px;
        font-family: 'Inter';
        font-weight: 300;
        line-height: 113%;
        justify-content: flex-start;
        margin-top: 174px;
        margin-left: 51px;
        max-width: 748px;
    }

    &__rightside-descr--item---3 li {
        margin-bottom: 5px;
        max-width: 650px;
    }

    &__rightside-descr--item---3 img {
        margin-bottom: 24px;
        max-width: 391px;
        max-height: 204px;
        margin-left: -20px;
    }

    &__borders-right {
        margin-right: 172px;
    }

    &__rightside-descr--item---active1 {
        transform: translateY(-850px);
    }

    &__rightside-descr--item---active2 {
        transform: translateY(-1650px);
    }
}

.about__rightside-descr {

    ul li {
        list-style: disc;
    }
}

// **************************
.project {
    font-family: 'Golos Text';
    color: #1F252D;

    &__slide {
        width: 100%;
        height: 100%;
    }

    &__inner {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &__smeta {
        display: flex;
        align-items: center;
        margin-right: 25px;
        padding: 187px 0 196px 0;
    }

    &__smeta h1 {
        font-size: 32px;
        font-weight: 600;
        line-height: 98.5%;
        margin-bottom: 12px;
    }

    &__smeta p {
        text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);
        font-size: 16px;
        line-height: 113%;
    }

    &__smeta--txtbox {
        display: flex;
        flex-direction: column;
    }

    &__smeta-imgbox {}

    &__doma {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #1F252D;
padding: 107px 19px 102px 24px;
        margin: 13px 141px 18px 0;
    }

    &__doma-txtbox {
        display: flex;
        flex-direction: column;
        margin-bottom: -110px;
    }

    &__doma-txtbox h1 {
        color: #FFF;
        font-size: 32px;
        font-weight: 600;
        line-height: 98.5%;
        margin-bottom: 12px;
        max-width: 194px;
    }

    &__doma-txtbox p {
        color: #FFF;
        text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);
        font-size: 16px;
        line-height: 113%;
        max-width: 391px;
        
    }

    &__graph {
        display: flex;
        margin: 174px 399px 104px 190px;
    }

    &__graph-txtbox {
        display: flex;
        flex-direction: column;
        align-self: last baseline;
    }

    &__graph-txtbox h1 {
        font-size: 32px;
        font-weight: 600;
        line-height: 98.5%;
    }

    &__graph-txtbox p {
        color: #1F252D;
        text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);
        font-size: 16px;
        line-height: 113%;
    }

    &__otchet {
        display: flex;
        padding: 174px 260px 104px 67px;
    }

    &__otchet-txtbox {
        display: flex;
        flex-direction: column;
        align-self: last baseline;
        max-width: 442px;
        margin-right: 132px;
    }

    &__otchet-txtbox h1 {
        font-size: 32px;
        font-weight: 600;
        line-height: 98.5%;
        max-width: 241px;
        margin-bottom: 12px;
    }

    &__otchet-txtbox p {
        color: #1F252D;
        text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);
        font-size: 16px;
        line-height: 113%;
    }
}