body{
  zoom: .8;
 
}
html{
  scroll-behavior: smooth;
  -webkit-text-size-adjust: none;
}
.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
  position: relative;
  z-index: 1000;
}

.hero-section {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}

.her-f {
  position: absolute;
  width: 100%;
}

.her-im1 {
  z-index: 0;
  position: relative;
}

.her-im2 {
  position: absolute;
  top: 143px;
  left: 146px;
}

.her-im3 {
  position: absolute;
  top: 519px;
  left: 315px;
}

.hero__section-ls {
  display: flex;
  flex-direction: column;
}

.hero__section-ls-up {
  position: relative;
  margin-top: 37px;
}

.hero__section-ls-bot {
  position: relative;
  margin-top: 130px;
  margin-left: 100px;
}

.star-block {
  margin-bottom: 10px;
}

.bot__text-block {
  color: #FFF;
  font-family: Gilroy;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.bot__ico-block {
  margin-top: 10px;
}

.bot__ico-block img {
  margin-right: 26px;
}

.hero__section-rs {
  margin-left: 85px;
}
.mob-block{
  display: none;
}
.hero__rs-txt span {
  color: #0079D5;
  font-family: AA Bebas Neue;
  font-size: 73px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hearth-inner-mob {
display: none;
  }
.hero__rs-txt p {
  color: #000;
  font-family: AA Bebas Neue;
  font-size: 73px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero__rs-spis {
  margin: 25px 0 15px 0px;
}

.rs-spis {
  color: #000;
  font-family: Gilroy;
  font-size: 27px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.rs-spis p {
  margin-left: 54px;
  white-space: nowrap;
}

.hero__rs-cost {
  display: flex;

}

.lef-cost {
  color: #FF1639;
  font-family: Gilroy;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

.ri-cos {
  text-align: center;
  margin-left: 15px;
}

.ri-cos span {
  color: #000;
  text-align: center;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;


}

.ri-cos p {
  color: #000;
  font-family: Gilroy;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  text-transform: uppercase;

}

.hs-bot-f {
  position: absolute;
  top: 696px;
  left: -5px;
  width: 100%;
  z-index: 1;
max-height: 550px;
}

#registration-form {
  font-family: 'Open Sans Condensed', sans-serif;
  width: 100%;
  min-width: 250px;
  margin: 20px auto;
  position: relative;
  background: #ECECEC;
  border-radius: 30%;
  position: absolute;
  top: -178px;
  left: 579px;
}

#registration-form .fieldset {
  background-color: #fff;
  border-radius: 23px;


}

#registration-form legend {
  text-align: center;
  background: #FF1639;
  width: 100%;
  padding: 30px 0;
  border-radius: 15px 15px 0 0;
  color: white;
  text-align: center;
  font-family: Gilroy;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.fieldset form {
  border: 3px solid #FF1639;
  margin: 0 auto;
  display: block;
  width: 100%;
  padding: 30px 20px;
  box-sizing: border-box;
  border-radius: 0 0 20px 20px;
}

.placeholder #registration-form label {
  display: none;
}

.no-placeholder #registration-form label {
  margin-left: 5px;
  position: relative;
  display: block;
  color: grey;
  text-shadow: 0 1px white;
  font-weight: bold;

}

/* all */
::-webkit-input-placeholder {
  text-shadow: 1px 1px 1px white;
  font-weight: bold;
}

::-moz-placeholder {
  text-shadow: 0 1px 1px white;
  font-weight: bold;
}

/* firefox 19+ */
:-ms-input-placeholder {
  text-shadow: 0 1px 1px white;
  font-weight: bold;
}

/* ie */
#registration-form input[type=text] {
  padding: 15px 20px;
  border-radius: 1px;
  margin: 12px auto;
  background-color: #ECECEC;
  border: 1px solid silver;
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, .8);
  width: 100%;
  color: rgba(0, 0, 0, 0.65);
  font-family: Gilroy;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  box-sizing: border-box;
  border-radius: 15px;
  transition: background-color .5s ease;


}

.tel-inp {
  background: url(../img/1ekr/Flag_of_France_\(1794–1815\,_1830–1974\)\ 1.png) no-repeat 15px 17px;
  background-size: auto 40%;
  padding-left: 62px !important;

}

.no-placeholder #registration-form input[type=text] {
  padding: 10px 20px;
}

#registration-form input[type=text]:active, .placeholder #registration-form input[type=text]:focus {
  outline: none;
  border-color: silver;
  background-color: white;

}

.sub {
  text-transform: uppercase;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  background: linear-gradient(180deg, #FFE816 0%, #FF7816 100%);
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 10px;
  color: black;
  border-radius: 3px;
  margin-top: 5px;
  cursor: pointer;
  position: relative;
  top: 0;
  color: #000;
  text-align: center;
  font-family: Gilroy;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  border: none;
}

#registration-form input[type=submit]:hover {
  background-color: #2980b9;
}

#registration-form input[type=submit]:active {
  background: #5C8CA7;
}


.parsley-error-list {
  background-color: #C34343;
  padding: 5px 11px;
  margin: 0;
  list-style: none;
  border-radius: 0 0 3px 3px;
  margin-top: -5px;
  margin-bottom: 5px;
  color: white;
  border: 1px solid #870d0d;
  border-top: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  top: -1px;
  text-shadow: 0px 1px 1px #460909;
  font-weight: 700;
  font-size: 12px;
}

.parsley-error {
  border-color: #870d0d !important;
  border-bottom: none;
}

#registration-form select {
  width: 100%;
  padding: 5px;
}

::-moz-focus-inner {
  border: 0;
}

.under-t {
  color: #4D4C4C;
  text-align: center;
  font-family: Gilroy;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 25px;
}

.time {
  color: #000;
  text-align: center;
  font-family: Gilroy;
  font-size: 80px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;

}

.time p {
  color: #000;
  text-align: center;
  font-family: Gilroy;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
}

.time span:nth-child(1) {
  margin-right: 56px;
  margin-left: 50px;
}

.time span:nth-child(2) {
  margin-right: 26px;
}
.ap-img{
  position: absolute;
  top: 29%;
  left: 20%;

}
.hearth {
  display: flex;
  flex-direction: column;
  background: url(../img/2ekr/ff.png) no-repeat;
  margin-top: 140px; 
  position: relative;
  background-size: cover;
  padding-bottom: 300px;
}

.hearth-title {
  color: #000;
text-align: center;
font-family: AA Bebas Neue;
font-size: 80px;
font-style: normal;
font-weight: 400;
line-height: normal;
max-width: 1140px;
margin-bottom: 50px;
}
.hearth-inner p{
  color: #FFF;
  text-align: center;
  font-family: AA Bebas Neue;
  font-size: 47px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
   position: absolute;
}
.hearth-inner p:nth-child(2){
  top: 326px;
  left: 85px;
}
.hearth-inner p:nth-child(3){
  top: 477px;
  left: 58px;
}
.hearth-inner p:nth-child(4){
  top: 627px;
  left: 77px;
  font-size: 36px;
}
.hearth-inner p:nth-child(5){
  top: 327px;
  left: 823px;
}
.hearth-inner p:nth-child(6){
  top: 485px;
  left: 810px;
  font-size: 31px;
}
.hearth-inner p:nth-child(7){
  top: 624px;
  left: 789px;
}
.numers {
  display: flex;
  flex-direction: column;
  background: url(../img/3ekr/fff.png);
  background-size:cover;
  justify-content: center;
  align-items: center;
  padding-bottom: 135px;
  position: relative;
}

.numers-title {
  margin-top: -80px;
  color: #000;
text-align: center;
font-family: AA Bebas Neue;
font-size: 80px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 35px;
}
.numers-title p{
  color: #fff;
}
.numers-spis {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}
.numers-spis li{
max-width: 260px;
background-color: #ffff;
border-radius: 20px;
padding: 15px 0 15px 15px;

}
.numers-spis h2{
  color: #FF1639;
  font-family: AA Bebas Neue;
  font-size: 57px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.numers-spis p{
  color: #000;
  font-family: Gilroy;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.fs22{
  font-size: 22px !important;
}
.numers-bot {
  padding: 55px 0;
  background: url(../img/3ekr/fff2.png) 10px;
  background-size: cover;
  color: #ffff;
  text-align: center;
font-family: AA Bebas Neue;
font-size: 70px;
font-style: normal;
font-weight: 400;
line-height: 113.5%; /* 79.45px */

}
.numers-bot span{
  color: #FF1639;
  max-width: 1160px;
}
.fs25{
  font-size: 25px !important;
}
.numers-line{
  position: absolute;
  top: 343px;
  left: 519px;
}
.inks{
  
  background: url(../img/4ekr/ff.png);
  background-size: contain;
}
.inks-inner  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
}
.ink-title {
  margin: 35px 0;
  color: #000;
text-align: center;
font-family: AA Bebas Neue;
font-size: 80px;
font-style: normal;
font-weight: 400;
line-height: normal;
max-width: 900px;
}
.ink-spis {
  display: flex;
  gap: 30px ;
  justify-content: center;
  align-items: center;
}
.ink-spis img{
max-width: 200px;
}
.ink-spis li{
display: flex;
flex-direction: column;
align-items: center;
}
.ink-spis p{
  color: #FF1639;
  text-align: center;
  font-family: AA Bebas Neue;
  font-size: 58px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.comments {
  display: flex;
  flex-direction: column;
  position: relative;

}
.com-title {
  color: #000;
text-align: center;
font-family: AA Bebas Neue;
font-size: 80px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 60px;
}

.coms-list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px ;

}

.coms-list p{
  color: #FFF;
  font-family: Gilroy;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
 margin-top: 35px;
}
.coms-list span{
  color: #FFF;
font-family: Gilroy;
font-size: 35px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.coms-list li{
display: flex;
flex-direction: row;
background: #0079D5;
padding: 20px;

width: 100%;
}
.arrow-l {
  top: 295px;
  position: absolute;
  left: -86px;
  z-index: 100;
}
.arrow-r {
  position: absolute;
  top: 295px;
  left: 1198px;

}
.coms-txt{
margin-left: 10px;
}
.mesur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../img/5ekr/ff.png) no-repeat;
  background-size: contain;
}
.mesur-title {
  color: #000;
text-align: center;
font-family: AA Bebas Neue;
font-size: 80px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 60px 0;
}
.mesur-spis {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 42px ;

}

.mesur-spis li{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 30px;
background: #0079D5;
max-width: 930px;
padding:15px 25px;
position: relative;
}

.mesur-spis span{
  color: #FFF;
  text-align: center;
  font-family: AA Bebas Neue;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.mesur-spis p{
  color: #FFF;
  text-align: center;
  font-family: Gilroy;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.mesur-spis img{
  position: absolute;
  top: -37px;
  left: -5px;
}

.mes-l1 {
  position: absolute;
  top: 251px;
  left: 974px;
}
.mes-l2 {
  position: absolute;
  top: 395px;
  right: 962px;
}
.mes-product {
display: flex;
justify-content: center;
align-items: center;
}
.mes-pro-ls {
display: flex;
flex-direction: column;

}
.mes-pro-ls p{
  color: #FF1639;
font-family: AA Bebas Neue;
font-size: 62px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 77.5px */
}
.mes-pro-ls span{
  color: #000;
  font-family: AA Bebas Neue;
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.mes-pro-ls a{
  border-radius: 10px;
  background: linear-gradient(180deg, #FFE816 0%, #FF7816 100%);
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
  color: #000;
text-align: center;
font-family: Gilroy;
font-size: 29px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
max-width: 450px;
padding: 20px;
margin-top: 15px;
}

.ess {
  background: url(../img/5ekr/ff2.png) no-repeat;
  background-size: 100% 1049px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 191px;
}
.ess-app {
  position: absolute;
  top: 407px;
  left: 229px;

}
.ess-title {
  color: #FFF;
text-align: center;
font-family: AA Bebas Neue;
font-size: 80px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 100px 0;
}
.ess-txt {
  color: #FFF;
font-family: Gilroy;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 60px;
text-align: center;
max-width: 1100px;
}
.ess-txt span{
  color: #FFF;
  text-align: center;
  font-family: Gilroy;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.ess-blocks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px ;
position: relative;
z-index: 100;
}
.ess-blocks li{
  max-width: 360px;
  display: flex;
  flex-direction: column;
  border-radius: 9px;
  background: #FF1639;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;

}
.ess-blocks li:last-child{
padding-bottom: 60px;
}
.ess-blocks p{
  color: #FFF;
  font-family: Gilroy;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.ess-blocks span{
  color: #FFF;
  text-align: center;
  font-family: AA Bebas Neue;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.end{
  padding: 100px 0;

}
.end-inner{
  display: flex;
  flex-direction: row;
}

.end__section-ls {
  display: flex;
  flex-direction: column;

}
.end__section-ls p{
color: #000;
font-family: AA Bebas Neue;
font-size: 73px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.end__section-ls span{
  color: #FF1639;
  font-family: AA Bebas Neue;
  font-size: 73px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero__section-ls-img {
  position: relative;
}
.end-dics{
  position: absolute;
  top: 438px;
  left: 156px;
}
.end__section-rs {
  display: flex;
  flex-direction: column;
}
.form-end{
  position: relative !important;
  top: -20px !important;
  left: 0 !important;
  width: 100%;
  min-width: 512px !important;
}
.footer-txt {
  background: #252525;
  padding: 90px 0;
  color: #FFF;
text-align: center;
font-family: Gilroy;
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
@media(max-width:600px){
  .hero-section {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 70px;
}
.hero__rs-spis {
  margin: 25px 0 700px 0px;
}
#registration-form {
  font-family: 'Open Sans Condensed', sans-serif;
  width: 100%;
  min-width: 250px;
  margin: 20px auto;
  position: relative;
  background: #ECECEC;
  border-radius: 30%;
  position: absolute;
  top: -1481px;
  left: 0px;
}
.hs-bot-f {
  position: absolute;
  top: 1920px;
  left: 0px;
  width: 100%;
  z-index: 1;
  height: 100%;
  max-height: 550px;
}
.bot__text-block {
  text-align: center;
  margin-left: -42px;
}
.her-f {
object-fit: cover;
}
.hero__rs-cost {
  display: flex;
  justify-content: center;
}
.hearth-inner img{
  width: 100%;
}
.ap-img {
   width: 100%;
}
.arrow-l {
  top: 764px;
  position: absolute;
  left: -79px;
  z-index: 100;
  zoom: .4;
}
.coms-list{
  zoom: .5;
}
.arrow-r {
  position: absolute;
  top: 764px;
  zoom: .4;
  left: 1320px;
}
.ess-blocks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-direction: column;
  position: relative;
  z-index: 100;
}
.ess {
  background: url(../img/5ekr/ff2.png) 50%;
  background-size: cover;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
}
.end__section-ls{
  padding-bottom: 30px;
}
.ess-blocks li {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  border-radius: 9px;
  background: #FF1639;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 15px 20px;
}
.ess-title {
  color: #FFF;
  text-align: center;
  font-family: AA Bebas Neue;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 12px 0;
}
.ink-spis li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.ink-spis p{
  text-align: left;
  margin-left: 15px;
}
.ink-spis {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}
.inks {
  background: url(../img/4ekr/ff.png);
  background-size: cover;
}
.numers-line {
  position: absolute;
  top: 936px;
  left: -363px;
}
.numers-title {
  margin-top: -170px;
  color: #000;
  text-align: center;
  font-family: AA Bebas Neue;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 35px;
}
.numers {
  display: flex;
  flex-direction: column;
  background: url(../img/3ekr/fff.png)50%;
  background-size: cover;
  justify-content: center;
  align-items: center;
  padding-bottom: 68px;
  position: relative;
}
.hero__section-ls-img {
  position: relative;
  display: none;
}
.end-inner {
  display: flex;
  flex-direction: column;
}

.hero__section-rs{
  margin-left: 0;
}
.mb-0{
  margin: 0  !important;
}
.end__section-rs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__rs-txt{
  text-align: center;
}
.container{
  max-width: 580px;
}
.hero__section-ls-bot {
  position: relative;
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  /* margin-left: 100px; */
}
.bot__ico-block{
  display: flex;
}
.bot__ico-block img{
width: 100%;
}
.mes-pro-ls button {
  border-radius: 10px;
  background: linear-gradient(180deg, #FFE816 0%, #FF7816 100%);
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  text-align: center;
  font-family: Gilroy;
  font-size: 29px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  max-width: 450px;
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 25px;
  white-space: nowrap;
}
.mes-pro-rs img {
display: none;
}
.numers-spis {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.mes-pro-ls {
  margin: 30px 0;
  display: flex;
  white-space: nowrap;
  flex-direction: column;
}
.end__section-ls p {
  color: #000;
  font-family: AA Bebas Neue;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.end__section-ls span {

  font-family: AA Bebas Neue;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form-end{
  min-width: 1px !important;
}
.hearth-inner{
display: none;
}
.hearth-inner-mob{
display: block;
}
.hearth-inner-mob img{
width: 100%;
}
.ap-img{
  display: none;
}
.hearth {
  display: flex;
  flex-direction: column;
  background: url(../img/2ekr/ff.png) no-repeat;
  margin-top: -127px;
  position: relative;
  background-size: cover;
  padding-bottom: 211px;
}
.hero__section-ls-up{
  opacity: 0;
}
.star-block{
  opacity: 0;
}
.bot__text-block{
  opacity: 0;
}
.bot__ico-block img{
  opacity: 0;
}
.hs-bot-f{
  opacity: 0;
}

.mob-block {
  display: block;
  margin-top: -953px;
}
.mob-block img {
  width: 150%;
  position: relative;
  right: 20%;
}
.mesur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../img/5ekr/ff.png);
  background-size: auto;

}
.end{
  padding: 60px;
}
.coms-list li {
  display: flex;
  flex-direction: row;
  background: #0079D5;
  padding: 20px;
  min-height: 501px;
  width: 100%;
}
.mes-product{
  margin-bottom: 30px;
}
}
@media(max-width:450px){
 body{
  zoom: .6;
 }
 .arrow-l {
    top: 824px;
    position: absolute;
    left: -79px;
    z-index: 100;
    zoom: .4;
}
 .coms-list{
  zoom: .65;
 }
 .arrow-r {
  position: absolute;
  top: 876px;
  zoom: .4;
  left: 1320px;
}
 .arrow-l {
  position: absolute;
  top: 876px;
  zoom: .4;
  left: -79px;
}
.hearth-inner-mob img {
  width: 100%;
  scale: 1.2;
}
}
@media(max-width:380px){
 body{
  zoom: .5;
 }
}
@media only screen and (width:320px) and (device-width:320px) and (device-height:480px) and (orientation: landscape) {
	body {
		-webkit-transform: scale(0.667);
		-webkit-transform-origin: top right;
		position: absolute;
		right: 0;
		top: 0;
		width: 480px;
	}
}
/* iPad */
@media only screen and (width:768px) and (device-width:768px) and (device-height:1024px) and (orientation: landscape) {
	body {
		-webkit-transform: scale(0.75);
		-webkit-transform-origin: top right;
		position: absolute;
		right: 0;
		top: 0;
		width: 1024px;
	}
}