html {
  font-family: Poppins;
  background: linear-gradient(180deg, #2C0C11 0%, #1A070A 100%);

}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 1650px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.main-c {
  min-height: 100dvh;
  width: 100%;
  background: url(../img/bg-pc.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0;
}

.logo {
  max-width: 122px;
}

.top-txt {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 24px;
}

.top-txt h1 {
  max-width: 404px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 100%;
  /* or 56px */
  text-align: right;
  text-transform: uppercase;

  background: linear-gradient(90deg, #F6E4AC 0%, #D3A744 50%, #F9E3B4 75%, #F3CC6D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;



}

.top-txt h2 {


  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-size: 128px;


  leading-trim: both;
  text-edge: cap;

  color: #2B0C11;
  -webkit-text-stroke: 4px rgba(229, 20, 20, 1);
  text-shadow: 0px 0px 15.7px rgba(229, 20, 20, 0.75);


}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bot-txt {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bot-l {
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
}

.bot-r {
  background: rgba(32, 33, 35, 0.5);
  padding: 6px 12px;
  border-radius: 100px;

  font-weight: 400;

  font-size: 16px;

  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}

.bot {
  padding: 24px;
  max-width: 605px;
  border-radius: 24px;
  background: rgba(32, 33, 35, 0.5);
  backdrop-filter: blur(24px);
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: auto;
  margin-bottom: 60px;
}

.bot h2 {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.bot-mid {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;

}

.bot__mid-btns {
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 8px;
  background: rgba(32, 33, 35, 1);
  width: 100%;

}

.bot__mid-btn {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 16px;
  padding: 6px 16px;
  border-radius: 8px;
  transition: all .3s;
  width: 100%;
}

.bot__mid-btn.active {
  background: rgba(54, 57, 64, 1);
}

.iti {
  width: 100%;
}

.inp-tel {
  padding: 12px 16px;
  border-radius: 8px;
  max-width: none;
  width: 100%;
  display: none;
  background: rgba(32, 33, 35, 1);
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  transition: all .3s;
}

.inp-tel.active {
  display: block;
}

.inp-mail {
  padding: 12px 16px;
  border-radius: 8px;

  width: 100%;
  background: rgba(32, 33, 35, 1);
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  display: none;
  transition: all .3s;
}

.inp-mail.active {
  display: block;
}

.bot-bot {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bot-btn-reg {
  background: linear-gradient(180deg, #FFD600 0%, #FF9000 100%);
  max-width: 330px;
  padding: 20px 32px;
  border-radius: 100px;
  box-shadow: 0px 2px 1px 0px rgba(206, 117, 1, 1);
  width: 100%;
  font-weight: 800;
  font-size: 20px;
  color: rgba(168, 58, 0, 1);
  transition: all .3s;
}

.bot-btn-sess {
  border: 1px solid rgba(255, 144, 0, 1);
  max-width: 220px;
  width: 100%;
  border-radius: 100px;
  padding: 20px 40px;
  white-space: nowrap;
  font-weight: 800;

  font-size: 20px;
  transition: all .3s;
  color: rgba(255, 144, 0, 1);
}

.bot-btn-reg:hover {
  transform: scale(1.05);
}

.bot-btn-sess:hover {
  transform: scale(1.05);
}

@media(max-width:767px) {
  .main-c {
    background: url(../img/bg-mob.png);
    background-size: 100%;

  }

  .top-txt {
    flex-direction: column;
    gap: 2px;
  }

  .top-txt h1 {
    font-size: 32px;
    text-align: center;
  }

  .top-txt h2 {
    font-size: 64px;
    text-align: center;
  }

  .bot-txt {
    flex-direction: column;
    gap: 4px;
  }

  .bot-l {
    font-size: 20px;

  }

  .bot {
    max-width: 340px;
    flex-direction: column;
    width: 100%;
  }

  .bot-mid {
    flex-direction: column;
  }

  .bot__mid-btns {
    max-width: none;
    justify-content: space-between;
  }

  .bot__mid-btn {
    max-width: none;
    font-size: 12px;
    min-height: 48px;
  }

  .bot-btn-reg {

    padding: 12px 32px;
    max-width: 145px;
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bot-btn-sess {

    padding: 12px 32px;
    max-width: 145px;
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bot h2 {
    font-size: 16px;
    line-height: 1.35;
  }
}